<div class="modal fade" id="addChatModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Add Chat</h3>
            </div>
            <div class="modal-body">
                <md-card-title style="padding-top: 0%; margin-top: -8%;">
                    <md-card-title-text flex="100"  style="padding-top:5%" layout="row" ng-cloak>

                        <md-content ng-controller="ContactListController as contactListCtrl" class="chipsdemoContactChips" style="background-color:white;" flex="100" class="md-padding md-autocomplete" layout="column" ng-cloak>
                            <md-contact-chips
                                    ng-click="contactListCtrl.loadContacts()"
                                    ng-model="contactListCtrl.asyncContacts"
                                    md-contacts="contactListCtrl.delayedQuerySearch($query)"
                                    md-contact-name="name"
                                    md-contact-image="picture"
                                    md-require-match="false"
                                    md-highlight-flags="i"
                                    filter-selected="contactListCtrl.filterSelected"
                                    md-transform-chip=""
                                    placeholder=""
                                    ng-change="contactListCtrl.getChipInfo()">
                            </md-contact-chips>
                        </md-content>
                    </md-card-title-text>
                </md-card-title>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button data-dismiss="modal" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>