<div style="height:100%" ng-show="navCtrl.isAccountAvailable()" layout="column" ng-controller="UserController as user">
    <nav-bar></nav-bar>
    <div flex layout="row">
        <left-sidebar></left-sidebar>
        <md-content flex="75" id="main-content" style="position:relative;padding-bottom:10%;background-color:#e1f5fe;">
            <div style="padding-top:3%" class="row">
                <div class="col-lg-2 col-md-2 col-lg-push-5 col-md-push-5">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a href="#/dialer" id="dialer-circle" style="width:50px; height:50px; margin-right:0px;"><img id="dialer" src="images/dialer.png"></a>
                    </span>
                </div>
            </div>

            <div ng-controller="ChatController as chatCtrl" style="padding-top:3%;" class="row">
                <chat-group-details ng-controller="ChatGroupDetailsController as chatGroupCtrl"></chat-group-details>
                <md-content style="margin-bottom:10%;overflow-x:hidden;border-radius:8px;" flex="80" flex-offset="10">
                <div ng-controller ="OptionController as options" style="border-radius:8px; border:1px solid #1565c0; background-color:ghostwhite;">
                    <div class="row" style="margin-bottom: -30%;">
                        <a href="">
                            <h4 ng-if="chatCtrl.chatClient.chatList[chatCtrl.chatIndex].title.length > 0" class="col-lg-7 col-md-7 col-lg-push-1 col-md-push-1"
                                data-toggle="modal" data-target='#chatGroupDetailsModal'>{{chatCtrl.chatClient.chatList[chatCtrl.chatIndex].title}}</h4>
                            <h4 ng-if="chatCtrl.chatClient.chatList[chatCtrl.chatIndex].title.length === 0" class="col-lg-7 col-md-7 col-lg-push-1 col-md-push-1"
                                >{{chatCtrl.chatClient.chatList[chatCtrl.chatIndex] | chatTitleFilter : chatCtrl.chatClient.chatClientOwner}}</h4>
                        </a>

                            <md-fab-speed-dial md-open="options.isOpen" md-direction="{{options.selectedDirection}}"
                                               ng-class="options.selectedMode">
                                <md-fab-trigger>
                                    <md-button style="min-width: 0px;border-radius: 60px;min-height: 0px;padding: 0;margin: 0;" aria-label="menu">
                                        <md-icon style="font-size:22px;" class="fa fa-paperclip"></md-icon>
                                    </md-button>
                                </md-fab-trigger>
                                <md-fab-actions>
                                    <md-button ng-show="options.isOpen" aria-label="Twitter" class="md-fab md-primary md-raised md-mini">
                                        <md-icon style="font-size:20px" class="fa fa-file-picture-o"></md-icon>
                                    </md-button>
                                    <md-button ng-show="options.isOpen" aria-label="Facebook" class="md-fab md-warn md-raised md-mini">
                                        <md-icon style="font-size:20px" class="fa fa-file-movie-o"></md-icon>
                                    </md-button>
                                    <md-button ng-show="options.isOpen" aria-label="Google Hangout" class="md-fab md-accent md-raised md-mini">
                                        <md-icon style="font-size:20px" class="fa fa-file-audio-o"></md-icon>
                                    </md-button>
                                </md-fab-actions>
                            </md-fab-speed-dial>
                            <md-button style="min-width: 0px;border-radius: 60px;min-height: 0px;padding: 0;margin: 0;" aria-label="menu">
                                <md-icon style="font-size:22px;" class="fa fa-ellipsis-v"></md-icon>
                            </md-button>

                    </div>
                    <div id="conversation" class="wrapper" style="overflow-x: hidden; overflow-y:scroll; width: 100%; height: 450px; background-size: 100% 100%; background-image:url(images/chat-background-opaque.png);" class="col-lg-12 col-md-12" style="width:100%;">
                        <div ng-repeat="message in chatCtrl.chatClient.chatList[chatCtrl.chatIndex].messageList" class="row">
                            <div flex-offset="10" flex="55">
                                <p ng-if="!chatCtrl.isMessageFromMe(message)" class="receivedMessage">
                                    {{message.from | messageListParticipantNameFilter : chatCtrl.chatClient.chatList[chatCtrl.chatIndex].participantList : chatCtrl.chatClient.chatClientOwner}}{{message.timeStamp | timeStampFilter}}, {{message.textContent}}
                                </p>
                            </div>
                            <div flex-offset="35" flex="55">
                                <p ng-if="chatCtrl.isMessageFromMe(message)" class="sentMessage">
                                    {{message.timeStamp | timeStampFilter}}, {{message.textContent}}
                                </p>
                            </div>

                        </div>

                    </div>
                    <a id="bottom"></a>
                    <div layout="row">
                        <!--<p id="smile" style="margin-top: 3%; font-size: 22px;" class="fa fa-smile-o text-center" flex="10"></p>-->
                        <md-input-container id="chatMessageInput" style="margin-bottom: 0%;" flex="85" flex-offset="5" class="md-icon-float md-block">
                            <label>Type Message</label>
                            <input ng-model="chatCtrl.textContentToSend" ng-change="chatCtrl.changeMicToSend()" type="text">
                        </md-input-container>
                        <p ng-click="chatCtrl.sendMessage()" id="microphone" style="margin-top: 3%; color:#1565c0; font-size: 22px;" class="fa fa-microphone text-center" flex="10"></p>
                    </div>
                </div></md-content>
            </div>
        </md-content>
        <right-sidebar style="rgb(250,250,250);" flex="25"></right-sidebar>
    </div>
</div>