<div class="modal fade" id="chatGroupDetailsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">{{chatGroupCtrl.chatClient.chatList[chatGroupCtrl.chatIndex].title}}</h3>
                <img ng-src="images/contact3.jpg" class="md-avatar"/>
            </div>
            <div class="modal-body">
                <md-list>
                    <md-list-item ng-repeat="participant in chatGroupCtrl.chatClient.chatList[chatGroupCtrl.chatIndex].participantList track by $index" style="padding:0%; width:100%" id="chat-conversation" class="md-2-line">
                        <img ng-src="images/contact3.jpg" class="md-avatar"/>
                        <div style="width:100%" class="md-list-item-text" layout="column">
                            <div style="width:100%" layout="row">
                                <h3 flex="70">{{participant.firstName}} {{participant.lastName}}</h3>
                            </div>
                        </div>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>

                <!--
                <div layout="row">
                    <md-input-container class="md-icon-float md-block">
                        <label>Status Message</label>
                        <md-icon class="fa fa-comment-o"></md-icon>
                        <input id="statusMessage" type="text" ng-model="chatGroupCtrl.statusMessage" placeholder="{{chatGroupCtrl.getStatusMessage()}}">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Availability</label>
                        <md-icon class="fa fa-circle-o"></md-icon>
                        <input id="availablity" type="text" ng-model="chatGroupCtrl.availability" placeholder="{{chatGroupCtrl.getAvailability()}}">
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class=" md-icon-float md-block">
                        <label>First Name</label>
                        <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                        <input id="firstName" type="text" ng-model="chatGroupCtrl.firstName" placeholder="{{chatGroupCtrl.getFirstName()}}">
                    </md-input-container>
                    <md-input-container class=" md-icon-float md-block">
                        <label>Last Name</label>
                        <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                        <input id="lastName" type="text" ng-model="chatGroupCtrl.lastName" placeholder="{{chatGroupCtrl.getLastName()}}">
                    </md-input-container>

                </div>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon class="fa fa-envelope"></md-icon>
                        <input id="email" type="text" ng-model="chatGroupCtrl.email" placeholder="{{chatGroupCtrl.getEmail()}}">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Phone</label>
                        <md-icon class="fa fa-phone"></md-icon>
                        <input id="phone" type="text" ng-model="chatGroupCtrl.phone" placeholder="{{chatGroupCtrl.getPhone()}}">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Ext.</label>
                        <md-icon class="fa fa-hashtag"></md-icon>
                        <input id="extension" type="text" ng-model="chatGroupCtrl.extension" placeholder="{{chatGroupCtrl.getExtension()}}">
                    </md-input-container>
                </div>

                <h4 style="padding-left:5%;">Profile Picture</h4>

                <form class="row" id="form2" runat="server">
                    <input style="visibility:hidden;" type="file" name="file" id="profileImage" />
                    <div style="color:gray;" class="col-lg-4 col-md-4 col-lg-push-1 col-md-push-1" id="profileFeedback">Select a .jpg format image.</div>
                    <label style="margin-top: -1%;" class="btn btn-info col-lg-4 col-md-4 col-lg-push-2 col-md-push-2" for="profileImage">Choose an Image</label>
                </form>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="chatGroupCtrl.saveGroupInfo()" data-dismiss="modal" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>