<div style="height:100%;" ng-show="navCtrl.isAccountAvailable()" layout="column">
    <nav-bar></nav-bar>
    <div flex layout="row">
        <left-sidebar></left-sidebar>
        <md-content flex="75" id="main-content" style="position:relative;background-color: transparent;overflow:hidden;">
            <div style="padding-top:3%" layout="row">
                <div flex="50" flex-offset="25">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a href="#/dialer" id="dialer-circle" style="width:50px; height:50px; margin-right:0px;"><img id="dialer" src="images/dialer.png"></a>
                    </span>
                </div>
            </div>
            <call-status-toolbar></call-status-toolbar>
            <div ng-controller="ChatController as chatCtrl" style="padding-top:3%;" class="row">
                <script type="text/ng-template" id="chatGroupDetails">
                    <md-dialog flex="40" aria-label="Chat Group Details" ng-controller="ChatGroupDetailsController as chatGroupCtrl">
                        <form ng-controller="ContactListController as contactListCtrl" ng-cloak>
                            <md-toolbar class="mercurioBlueBackground">
                                <div class="md-toolbar-tools">
                                    <md-input-container id="chatTitleInput" style="margin-bottom: 0%;" flex="85" flex-offset="5" class="md-icon-float md-block">
                                        <h2><input style="color:white;" ng-change="chatGroupCtrl.chatTitleChanged()" ng-model="newChatTitle" ng-value="newChatTitle" type="text"></h2>
                                    </md-input-container>

                                    <!--<h2>{{chatGroupCtrl.chatClientService.chatClient.chatList[chatGroupCtrl.chatIndex].title}}</h2>-->
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="chatGroupCtrl.closeChatGroupDetailsDialog()">
                                        &times;
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-dialog-content>
                                <md-card-title style="padding-top: 0%; margin: 10px;">
                                    <md-card-title-text flex="80" flex-offset="10" style="padding-top:5%" layout="row" ng-cloak>

                                        <md-content class="chipsdemoContactChips" style="background-color:white;" flex="100" class="md-padding md-autocomplete" layout="column" ng-cloak>
                                            <md-contact-chips
                                                    ng-model="contactListCtrl.asyncContacts"
                                                    md-contacts="contactListCtrl.delayedQuerySearch($query)"
                                                    md-contact-name="name"
                                                    md-contact-image="picture"
                                                    md-require-match="false"
                                                    md-highlight-flags="i"
                                                    filter-selected="contactListCtrl.filterSelected"
                                                    placeholder="Search Contacts to Add">
                                            </md-contact-chips>
                                        </md-content>
                                    </md-card-title-text>
                                    <div flex="80" flex-offset="10" layout="row">
                                        <span flex></span>
                                        <md-button ng-if="contactListCtrl.asyncContacts.length > 0" ng-click="chatGroupCtrl.addParticipantsToGroup(contactListCtrl.asyncContacts)">
                                            Add
                                        </md-button>
                                    </div>
                                </md-card-title>
                                <div flex="80" flex-offset="10" layout="row">
                                    <md-list>
                                        <md-subheader class="md-no-sticky" style="background-color:white;">Group Members</md-subheader>
                                    </md-list>
                                </div>
                                <div flex="80" flex-offset="10" layout="row" class="scrollableList fixedRows" >
                                    <md-list>
                                        <md-list-item class="md-2-line contact-item" ng-repeat="(index, participant) in chatGroupCtrl.chatClientService.chatClient.chatList[chatGroupCtrl.chatIndex].participantList">
                                            <img ng-src="{{participant.picture}}" class="md-avatar" alt="{{participant.firstName}}" />
                                            <div class="md-list-item-text compact">
                                                <h3>{{participant.firstName}} {{participant.lastName}}</h3>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="80" flex-offset="10" layout="row" style="padding-top:3%" ng-controller="ChatController as chatCtrl">
                                    <md-input-container class=" md-icon-float md-block">
                                        <md-checkbox md-no-ink ng-model="newMuteSetting" ng-value="newMuteSetting"
                                                     ng-change="chatGroupCtrl.muteSettingChanged()" aria-label="Mute Group">
                                            Mute Group
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                            </md-dialog-content>

                            <md-dialog-actions layout="row">
                                <!--<md-button ng-click="chatGroupCtrl.exitGroup()">-->
                                    <!--Exit Group-->
                                <!--</md-button>-->
                                <span flex></span>
                                <md-button ng-click="chatGroupCtrl.closeChatGroupDetailsDialog()">
                                    Close
                                </md-button>
                                <md-button ng-show="chatGroupCtrl.saveGroupDetailsButtonIsAvailable" ng-click="chatGroupCtrl.saveGroupDetails()">
                                    Save
                                </md-button>
                                <!--<md-button ng-click="chatGroupCtrl.saveChatGroupDetails()">
                                    Save
                                </md-button>-->
                            </md-dialog-actions>
                        </form>
                    </md-dialog>
                </script>

                <script type="text/ng-template" id="multimediaSelectionPreview">
                    <md-dialog flex="40" aria-label="Multimedia Selection Preview" ng-controller="ChatController as multimediaChatCtrl">
                        <form ng-cloak>
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>Multimedia Preview</h2>
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="multimediaChatCtrl.closeMultimediaSelectionPreviewDialog()">
                                        &times;
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-dialog-content>

                                <md-card flex="60" flex-offset="20" layout="row" style="margin-top:3%">
                                    <img id="multimediaPreview" class="md-card-image" style="height:300px;">
                                </md-card>

                                <div layout="row" class="messagePreviewChatMessageInput">
                                    <!--<p id="smile" style="margin-top: 3%; font-size: 22px;" class="fa fa-smile-o text-center" flex="10"></p>-->
                                    <md-input-container id="chatMessageInput" style="margin-bottom: 0%;" flex="85" flex-offset="5" class="md-icon-float md-block">
                                        <label style="color: black;">Type Message</label>
                                        <!--<input ng-model="chatCtrl.textContentToSend" ng-change="chatCtrl.changeMicToSend()" type="text">-->
                                        <input style="color: black;" ng-model="multimediaChatCtrl.textContentToSend" type="text">
                                    </md-input-container>
                                    <p ng-click="multimediaChatCtrl.sendMessage()" style="margin-top: 3%; color:#1565c0; font-size: 22px;" class="fa fa-send text-center flex-10"></p>
                                </div>
                            </md-dialog-content>
                        </form>
                    </md-dialog>
                </script>

                <script type="text/ng-template" id="multimediaTextView">
                    <md-dialog flex="40" aria-label="Multimedia Selection Preview" ng-controller="ChatController as multimediaChatCtrl">
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>Multimedia Preview</h2>
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="multimediaChatCtrl.closeMultimediaSelectionTextDialog()">
                                        &times;
                                    </md-button>
                                </div>
                            </md-toolbar>

                            <md-dialog-content>

                                <md-card flex="60" flex-offset="20" layout="row" style="margin-top:3%">
                                    <img style="height:300px;" ng-src= "{{multimediaChatCtrl.chatClientService.chatClient.chatList[multimediaChatCtrl.chatIndex].messageList[multimediaChatCtrl.chatClientService.selectedMessageIndex].multimediaUrl}}">

                                </md-card>
                                <div layout="row">
                                    <p flex = "40" flex-offset="50"> {{multimediaChatCtrl.chatClientService.chatClient.chatList[multimediaChatCtrl.chatIndex].messageList[multimediaChatCtrl.chatClientService.selectedMessageIndex].textContent}} </p>
                                </div>
                            </md-dialog-content>

                    </md-dialog>
                </script>





                <md-content style="margin-bottom:10%;overflow-x:hidden;border-radius:8px;height:100%; background:rgba(0,0,0,0.55);" flex="80" flex-offset="10">
                    <div ng-controller ="OptionController as options" style="border-radius:8px; border:1px solid white; ">
                        <div class="row">

                            <md-list flex="90" flex-offset="5">
                                <md-list-item class="md-1-line">
                                    <img ng-src="{{chatList[chatCtrl.chatIndex] | chatListAvatarFilter : chatCtrl.chatClientService.chatClient.chatClientOwner}}" class="md-avatar"/>
                                    <a class="md-list-item-text" layout="column">
                                        <h4 style= "color: white;" ng-if="chatList[chatCtrl.chatIndex].title.length > 0"
                                            ng-controller="ChatGroupDetailsController as chatGroupCtrl" ng-click="chatGroupCtrl.showChatGroupDetailsDialog($event)">
                                                {{chatList[chatCtrl.chatIndex].title}}
                                        </h4>
                                        <h4 style= "color: white;" ng-controller = "ContactListController as contactListCtrl" ng-click = "contactListCtrl.viewContactById(chatCtrl.getChatParticipantUserId())" ng-if="chatList[chatCtrl.chatIndex].title.length === 0">
                                            {{chatList[chatCtrl.chatIndex] | chatTitleFilter : chatCtrl.chatClientService.chatClient.chatClientOwner}}
                                        </h4>
                                    </a>

                                    <md-fab-speed-dial class="md-secondary" md-open="options.isOpen" md-direction="{{options.selectedDirection}}"
                                                       ng-class="options.selectedMode">
                                        <md-fab-trigger>
                                            <md-button style="right: 90%; min-width: 0px;border-radius: 60px;min-height: 0px;padding: 0;margin: 0;" aria-label="menu">
                                                <md-icon style="color: white; font-size:22px;" class="fa fa-paperclip">
                                                    <!--<input ng-model="chatCtrl.multimedia" ng-change="chatCtrl.showImagePreview()" class="fa fa-paperclip" style="opacity:0;" type="file" accept="image/*"/>-->
                                                    <input style="opacity:0;" onchange="angular.element(this).scope().multimediaSelected(this)" type="file" ng-model="multimedia" name="multimedia" id="multimedia" accept="image/*"/>
                                                </md-icon>
                                            </md-button>
                                        </md-fab-trigger>
                                        <!--<md-fab-actions>-->
                                            <!--<md-button ng-show="options.isOpen" aria-label="Twitter" class="md-fab md-primary md-raised md-mini">-->
                                                <!--<md-icon style="font-size:20px" class="fa fa-file-picture-o"></md-icon>-->
                                            <!--</md-button>-->
                                            <!--<md-button ng-show="options.isOpen" aria-label="Facebook" class="md-fab md-warn md-raised md-mini">-->
                                                <!--<md-icon style="font-size:20px" class="fa fa-file-movie-o"></md-icon>-->
                                            <!--</md-button>-->
                                            <!--<md-button ng-show="options.isOpen" aria-label="Google Hangout" class="md-fab md-accent md-raised md-mini">-->
                                                <!--<md-icon style="font-size:20px" class="fa fa-file-audio-o"></md-icon>-->
                                            <!--</md-button>-->
                                        <!--</md-fab-actions>-->
                                    </md-fab-speed-dial>



                                </md-list-item>
                                <md-menu class="md-secondary" style="position: absolute; min-width: 0px; top: 4%; right: 3%; border-radius: 60px;min-height: 0px;padding: 0;margin: 0;" aria-label="menu">
                                    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <md-icon style="color: white; font-size:22px;" class="fa fa-ellipsis-v"></md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                      <div ng-if="chatList[chatCtrl.chatIndex].title.length > 0" >
                                        <md-menu-item ng-controller="ChatGroupDetailsController as chatGroupCtrl">
                                            <md-button ng-click="chatGroupCtrl.showChatGroupDetailsDialog($event)" >
                                                Group Details
                                            </md-button>
                                        </md-menu-item>
                                        </div>
                                        <div ng-if="chatList[chatCtrl.chatIndex].title.length == 0">
                                          <md-menu-item ng-controller = "ContactListController as contactListCtrl">
                                              <md-button ng-click = "contactListCtrl.viewContactById(chatCtrl.getChatParticipantUserId())">
                                                  Contact Profile
                                              </md-button>
                                          </md-menu-item>
                                          </div>
                                        <md-menu-divider></md-menu-divider>

                                        <md-menu-item>
                                            <md-button ng-click="chatList[chatCtrl.chatIndex].settings.mute">
                                                Mute
                                            </md-button>
                                        </md-menu-item>
                                        <!--<md-menu-divider></md-menu-divider>-->
                                        <!--<md-menu-item>-->
                                            <!--<md-button>-->
                                                <!--Notifications-->
                                            <!--</md-button>-->
                                        <!--</md-menu-item>-->
                                    </md-menu-content>
                                </md-menu>

                            </md-list>

                        </div>
                        <div id="conversation" class= "scrollable-content" style="width: 100%;height:350px" class="col-lg-12 col-md-12" scroll-glue>
                            <div ng-repeat="message in chatList[chatCtrl.chatIndex].messageList track by $index" class="row">
                                <div ng-if="!chatCtrl.isMessageFromMe(message)" flex-offset="10" flex="55">
                                    <md-card class="receivedMessage" ng-if="message.multimediaUrl.length > 0" flex="40" layout="row">
                                        <p>
                                            {{message.from | messageListParticipantNameFilter : chatList[chatCtrl.chatIndex].participantList : chatCtrl.chatClientService.chatClient.chatClientOwner}}{{message.timeStamp | timeStampFilter}}
                                        </p>
                                        <img ng-src="{{message.multimediaUrl}}" ng-click="chatCtrl.multimediaClicked($index)" style="height:150px;">
                                        <p ng-if="message.textContent.length > 0">
                                            {{message.textContent}}
                                        </p>
                                    </md-card>
                                    <p ng-if="!message.multimediaUrl" class="receivedMessage">
                                        {{message.from | messageListParticipantNameFilter : chatList[chatCtrl.chatIndex].participantList : chatCtrl.chatClientService.chatClient.chatClientOwner}}{{message.timeStamp | timeStampFilter}}, {{message.textContent}}
                                    </p>
                                </div>
                                <div ng-if="chatCtrl.isMessageFromMe(message)"flex-offset="35" flex="55">
                                    <md-card class="sentMessage" ng-if="message.multimediaUrl.length > 0" flex="40" layout="row">
                                        <p>
                                            {{message.timeStamp | timeStampFilter}}
                                        </p>
                                        <img class="md-card-image" ng-src="{{message.multimediaUrl}}" ng-click="chatCtrl.multimediaClicked($index)" style="height:150px;">
                                        <p ng-if="message.textContent.length > 0">
                                            {{message.textContent}}
                                        </p>
                                    </md-card>
                                    <p ng-if="!message.multimediaUrl" class="sentMessage">
                                        {{message.timeStamp | timeStampFilter}}, {{message.textContent}}
                                    </p>
                                </div>

                           </div>

                        </div>
                        <a id="bottom"></a>
                        <div>
                        <!-- <div ng-controller="ChatGroupDetailsController as chatGroupCtrl"> -->
                            <form layout="row" ng-submit="chatCtrl.sendMessage()">
                                <!--<p id="smile" style="margin-top: 3%; font-size: 22px;" class="fa fa-smile-o text-center" flex="10"></p>-->
                                <md-input-container id="chatMessageInput" style="margin-bottom: 0%;" class="md-icon-float md-block flex-85 flex-offset-5">
                                    <label style="color: white;">Type Message</label>
                                    <!--<input ng-model="chatCtrl.textContentToSend" ng-change="chatCtrl.changeMicToSend()" type="text">-->
                                    <input style = "color: white; border-color: white;" ng-model="chatCtrl.textContentToSend" type="text">
                                </md-input-container>
                                <p ng-click="chatCtrl.sendMessage()"  style="margin-top: 3%; color: white; font-size: 22px;" class="fa fa-send text-center flex-10"></p>
                            </form>
                            <!-- <h4 style = "color: white;"ng-if="!chatGroupCtrl.isChatClientOwnerGroupMember" layout="row" layout-align="center center">
                                You have left this group
                            </h4> -->
                        </div>
                    </div>
                </md-content>
            </div>
        </md-content>
        <right-sidebar class="scrollable-content" flex="25"></right-sidebar>
    </div>
</div>
