<div style="height:100%" ng-show="contactListCtrl.isContactListAvailable()" layout="column" ng-controller="ContactListController as contactListCtrl">
    <nav-bar></nav-bar>
    <div flex layout="row">
        <left-sidebar></left-sidebar>

        <md-content flex="75" id="main-content" style="padding-bottom:10%;background-color:#e1f5fe;width:100%;">

            <div style="padding-top:3%" class="row">
                <div class="col-lg-2 col-md-2 col-lg-push-5 col-md-push-5">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a href="#/dialer" id="dialer-circle" style="width:50px; height:50px; margin-right:0px;"><img id="dialer" src="images/dialer.png"></a>
                    </span>
                </div>
            </div>

            <div layout="row">
                <div flex-offset="20" flex="60">
                    <md-autocomplete style="padding-top:2%; overflow-y:hidden" flex
                                     md-input-name="autocompleteField"
                                     md-input-minlength="0"
                                     md-no-cache="contactListCtrl.noCache"
                                     md-autofocus="true"
                                     md-autoselect="true"
                                     md-selected-item="contactListCtrl.selectedItem"
                                     md-search-text-change="contactListCtrl.searchTextChange(contactListCtrl.searchText)"
                                     md-selected-item-change="contactListCtrl.selectedItemChange(item.realIndex)"
                                     md-search-text="contactListCtrl.searchText"
                                     md-items="item in contactListCtrl.querySearch(contactListCtrl.searchText)"
                                     md-item-text="item.name"
                                     md-floating-label="Search">
                        <md-item-template>
                            <span md-highlight-text="contactListCtrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            No states matching "{{contactListCtrl.searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                    <!--<div style="margin-top:-5%" id="contacts-list" ng-cloak></div>-->

                    <!--Test-->

                    <div style="margin-top:-5%; margin-bottom:10%;" ng-repeat="letter in contactListCtrl.alphabet">
                        <div ng-if="contactListCtrl.setContacts(letter)">
                            <a id=contact-initial> <h2>{{letter}}</h2> </a>
                            <md-content style="overflow-y:hidden" ng-repeat="contact in contactListCtrl.tempContacts track by $index" id="contacts-content">
                                <md-button ng-click="contactListCtrl.viewContact($index)" style="width:100%;">
                                    <md-list id="contacts-card" flex>
                                        <md-list-item class="row">
                                            <div style="margin-left:5%;" class="col-lg-2 col-md-2">
                                                <img style="width:50px; height:50px; border-radius:35px;" ng-src="{{contact.picture | contactListAvatarFilter}}"/>
                                            </div>
                                            <div style="margin-left: 2%; margin-top: 2%;" class="col-lg-7 col-md-7" layout="column">
                                                <p style="font-size:20px; word-break: break-all" flex="50">{{contact.firstName}}</p>
                                                <p>{{contact.lastName}}</p>
                                            </div>
                                            <p class="col-lg-3 col-md-3"> Mobile </p>
                                        </md-list-item>
                                    </md-list>
                                </md-button>
                            </md-content>
                        </div>
                    </div>

                    <!--finish test-->

                </div>
            </div>

        </md-content>
        <right-sidebar class="scrollableList" flex="25"></right-sidebar>
    </div>
</div>