<div style="height:100%" ng-show="navCtrl.isAccountAvailable()" layout="column" ng-controller="UserController as user">
    <nav-bar></nav-bar>
    <div flex layout="row">
        <left-sidebar></left-sidebar>

        <md-content class="scrollable-content" flex="75" id="main-content" ng-controller="DialerController as dialer" style="overflow-x:hidden; position:relative;padding:0%; background-color: transparent;">
            <div style="padding-top:3%" class="row">
                <call-status-toolbar></call-status-toolbar>
                <div style = "margin-left: 5%;"class="col-lg-2 col-md-2 col-lg-push-3 col-md-push-3">
                    <span style="margin-left: 10%; display:table;margin:0 auto;" class="dialer-icons" ng-controller="ContactController as contactCtrl">
                        <a style="margin-right:0px;"><i style="color:#1565c0;" class="fa fa-phone" ng-click="dialer.redial(contactCtrl.contact.phone)"></i></a>
                    </span>
                </div>
                <!-- <div class="col-lg-2 col-md-2 col-lg-push-3 col-md-push-3">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a style="margin-right:0px;"><i style="color:#1565c0;" class="fa fa-video-camera"></i></a>
                    </span>
                </div>
                <div class="col-lg-2 col-md-2 col-lg-push-3 col-md-push-3">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a style="margin-right:0px;"><img style="margin-top:9px; width:19px; height:19px;" src="images/web-chat1.png"></a>
                    </span>
                </div> -->
                <div flex="100">
                    <span style="display:table;margin:0 auto;" class="dialer-icons">
                        <a href="#/dialer" id="dialer-circle" style="margin-right:0px;"><img style="margin-top:9px; width:19px; height:19px;" src="images/dialer.png"></a>
                    </span>
                </div>
            </div>

            <div style="padding-top:3%;" class="row">
                <div ng-controller="ContactController as contactCtrl" style="margin-left: -4%;border-radius:8px; border:1px solid white; margin-bottom:3%; background:rgba(0,0,0,0.60);" class="col-lg-5 col-md-5 col-lg-push-4 col-md-push-4">
                    <div style="padding-bottom: 3px; padding-top: 3px;" class="row">
                        <div class="col-lg-2 col-md-2">
                            <a href="#/contacts"><i style="color: white;" class="glyphicon glyphicon-arrow-left"></i></a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-lg-push-9 col-md-push-9">
                            <a href=""><i style="color: white;" class="glyphicon glyphicon-pencil"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <md-card class="wrapper" style="width: 97%; height: 350px; background-size: 100% 100%; background-image:url({{contact.picture | contactListAvatarFilter}});" class="col-lg-12 col-md-12" >
                            <!-- <ul style="padding-top:1%" layout="column"  class="col-lg-2 col-md-2 col-lg-push-10 col-md-push-10 social-icons icon-circle icon-rotate list-unstyled list-inline">
                                <li>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul> -->
                        </md-card>
                    </div>
                    <div style="padding-left: 3%;" class="row">
                        <md-input-container class="md-icon-float md-block">
                            <label style = "color: white;">{{contact.firstName}} {{contact.lastName}}</label>
                            <div style = "margin-left: 70%;">
                            <p  ng-if= "contact.availability == 0" style="color: white;" > Offline</p>
                            <p  ng-if= "contact.availability == 1" style="color: white;" > Online</p>
                            <p  ng-if= "contact.availability == 2" style="color: white;" > Away</p>
                            <p  ng-if= "contact.availability == 3" style="color: white;" > Busy</p>
                          </div>
                            <md-icon style = "color: white;" class="fa fa-user"></md-icon>
                            <input id="name" type="text" disabled>
                        </md-input-container>

                        <md-input-container style="color: white; margin-top: -5%;" class="md-icon-float md-block">
                            <md-icon style = "color: white;" class="fa fa-phone"></md-icon>
                            <label style= "color: white" id="phone-number">{{contact.phone}} </label>
                            <p style="margin-left: 70%; color: white;"> {{contact.status}}</p>
                            <input id="name" type="text" disabled>
                        </md-input-container>

                        <md-input-container style="margin-top: -5%;" class="md-icon-float md-block">
                            <label style = "color: white;">{{contact.email}}</label>
                            <md-icon style = "color: white;" class="fa fa-envelope"></md-icon>
                            <input id="email" type="text" disabled>
                        </md-input-container>
                        <!--
                        <md-input-container style="margin-top: -5%;" class="md-icon-float md-block">
                            <md-icon class="fa fa-map-marker"></md-icon>
                            <input id="location" type="text" placeholder="{{contactCtrl.contact.address}}" disabled>
                        </md-input-container>

                        <md-input-container style="margin-top: -5%;" class="md-icon-float md-block">
                            <label>{{contactCtrl.contact.ringtone}}</label>
                            <md-icon class="fa fa-volume-up"></md-icon>
                            <input id="ringtone" type="text" disabled>
                        </md-input-container>

                        <md-input-container style="margin-top: -5%;" class="md-icon-float md-block">
                            <md-icon class="fa fa-plus"></md-icon>
                            <input id="notes" type="text" placeholder="{{contactCtrl.contact.notes}}" disabled>
                        </md-input-container>-->
                        <!-- <a href=""><p class="text-center" style="background:rgba(0,0,0,0.70); margin-top: -5%; font-size:18px; color:red;" class="col-lg-8 col-md-8 col-lg-push-2 col-md-push-2">
                            Delete Contact
                        </p></a> -->
                    </div>
                </div>
            </div>
        </md-content>
        <right-sidebar class="scrollable-content" flex="25"></right-sidebar>

    </div>
</div>
