
<md-list style="margin-left:-10px; margin-right:-10px; margin-top:-3px; background-color:lightgoldenrodyellow; padding:0%;">
    <md-list-item class="md-2-line">
        <div style="font-size: 25px; line-height: 65px;" flex="20" class="{{ChatCtrl.desktopNotificationIcon}}"></div>
        <div flex="80" style="width:100%" class="md-list-item-text" layout="column">
            <h3 style="font-size:14px; font-weight:bold;" flex="100">{{ChatCtrl.desktopNotificationHeader}}</h3>
            <p style="text-decoration: underline; font-color:#eee" ng-click='ChatCtrl.toggleNotifications()' flex="100">{{ChatCtrl.desktopNotificationParagraph}}</p>
        </div>
        <md-divider ></md-divider>
    </md-list-item>
</md-list>

<md-autocomplete style="margin-top:2%;" flex
                 md-input-name="autocompleteField"
                 md-input-minlength="2"
                 md-input-maxlength="18"
                 md-no-cache="ctrl.noCache"
                 md-selected-item="ctrl.selectedItem"
                 md-search-text="ctrl.searchText"
                 md-items="item in ctrl.querySearch(ctrl.searchText)"
                 md-item-text="item.display"
                 md-floating-label="Search">
</md-autocomplete>

<md-list style="margin-top:-10%">
    <md-list-item style="padding:0%; width:100%" id="chat-conversation" ng-repeat="conversation in ChatCtrl.conversations" class="md-2-line">
        <img ng-src="{{conversation.contactImage}}" class="md-avatar"/>
        <div style="width:100%" class="md-list-item-text" layout="column">
            <div style="width:100%" layout="row">
                <h3 flex="70">{{ conversation.contact }}</h3>
                <p flex="30">{{conversation.lastMessageTime}}</p>
            </div>
            <p>{{conversation.lastMessage}}</p>
        </div>
        <md-divider ></md-divider>
    </md-list-item>
</md-list>