
<div style="overflow-x: hidden; background-image:url('images/city-wallpaper.jpg');height:100%" ng-controller="AuthenticationController as authCtrl" ng-cloak onload="checkUrl()">
    <div ng-if="spinnerActivated"class="row" style="padding-top:15%" ng-cloak>
        <md-progress-circular style="margin: 0 auto 0 auto;" ng-disabled="!spinnerActivated" md-diameter="200"></md-progress-circular>
    </div>
    <div ng-if="!spinnerActivated"class="row" style="padding-top: 5%;" ng-cloak>
        <div class="col-lg-4 col-md-4 col-lg-push-4 col-md-push-4" style="background-color:#eee; border-radius:9px;">
            <div class="row" style="height:50px; background-color:#1565c0;"></div>
            <div class="row" style="padding-top: 8%;">
                <div style="margin-top:5%;" class="col-lg-1 col-md-1">
                    <i class="fa fa-envelope" style="font-size:20px;"></i>
                </div>
                <div class="col-lg-9 col-md-9">
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Email</label>
                        <input ng-model="authCtrl.email" type="email">
                    </md-input-container>
                </div>
            </div>
            <div class="row" style="padding-top: 1%;">
                <div style="margin-top:5%;" class="col-lg-1 col-md-1">
                    <i class="fa fa-unlock-alt" style="font-size:20px;"></i>
                </div>
                <div class="col-lg-9 col-md-9">
                    <md-input-container class="md-icon-float md-block">
                        <!-- Use floating label instead of placeholder -->
                        <label>Password</label>
                        <input ng-model="authCtrl.password" type="password">
                        <a href="" ng-click="resetPassword()">forgot password?</a>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-11 col-md-11 col-lg-push-1 col-md-push-1">
                    <p style="color:red; font-weight:bold;" id="feedback" href=""></p>
                </div>
                <div class="col-lg-8 col-md-8 col-lg-push-2 col-md-push-2" style="margin-bottom:5%;">
                    <div class="row">
                        <button class="col-lg-12 col-md-12 btn btn-info" style="width:100%; margin-bottom:2%;" ng-click="authCtrl.loginButtonClicked(authCtrl.email, authCtrl.password)">Launch Mercurio<i id="icon" style="color:yellow; font-size:16px; padding-left:10%;" class="fa fa-rocket"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
