<div style="height:100%;" ng-show="navCtrl.isAccountAvailable()" layout="column" ng-controller="UserController as user">
    <nav-bar></nav-bar>
    <md-content flex layout="row">
        <left-sidebar></left-sidebar>
    <md-content flex="75" id="main-content" ng-controller="DialerController as dialer" style="position:relative;background-color:#e1f5fe;">
            <md-card flex-offset="20" flex="60" style="background-color:white;">
                <md-card-title layout="column" flex-offset="20" flex>
                    <md-card-title-text>
                        <span class="md-headline">Contact Name</span>
                    </md-card-title-text>
                    <md-card-title-text layout="row" style="padding-top:1%;">
                        <span flex="60" class="md-subhead">787-518-1788</span>
                        <span flex-offset="10" flex="30" class="md-subhead">Time</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-title>
                    <md-card-title-media flex-offset="20" flex="60">
                        <div class="md-media-lg card-media" style="width:100%;">
                            <img src="images/contact0Dressed.jpg" style="width: 100%; height: 250px; border-radius: 3px;">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-content ng-click="" id="call-button" layout="row" flex="45" flex-offset="35" style="margin-top:100px; border-left:1px solid #1565c0; border-right:1px solid #1565c0;background-color: transparent;">
                    <div flex="50"><img id="dialer-image" src="images/dialer_green.png" style="height:35px; margin:auto; margin-left:50%;"></div>
                    <p flex="50" style="margin-right:15%;" class="text-center">Dialer</p>
                </md-content>
                <md-content style="margin-top:5%; border-bottom:1px solid #1565c0;background-color: transparent;" layout="row" flex="65" flex-offset="25">
                    <div ng-click="" id="call-button" flex="30" layout="column">
                        <md-icon style="text-align: center; font-size:25px;" class="fa fa-plus"></md-icon>
                        <p class="text-center">Add Call</p>
                    </div>
                    <div ng-click="" id="call-button" style="border-right:1px solid #1565c0; border-left:1px solid #1565c0;" flex="40" layout="column">
                        <md-icon style="text-align: center; font-size:25px;" class="fa fa-fighter-jet"></md-icon>
                        <p class="text-center">Transfer</p>
                    </div>
                    <div ng-click="" id="call-button" flex="30" layout="column">
                        <md-icon style="text-align: center; font-size:25px;" class="fa fa-mail-forward"></md-icon>
                        <p class="text-center">Jump</p>
                    </div>
                </md-content>
                <md-content layout="row" flex="65" flex-offset="25" style="background-color: transparent;">
                    <div ng-click="" id="call-button" flex="30" layout="column">
                        <md-icon style="text-align: center; font-size:25px; margin-top:10%;" class="fa fa-pause"></md-icon>
                        <p class="text-center">Hold</p>
                    </div>
                    <div ng-click="" id="call-button" style="border-right:1px solid #1565c0; border-left:1px solid #1565c0;" flex="40" layout="column">
                        <md-icon style="text-align: center; font-size:25px; margin-top:10%;" class="fa fa-microphone-slash"></md-icon>
                        <p class="text-center">Mute</p>
                    </div>
                    <div ng-click="" id="call-button" flex="30" layout="column">
                        <md-icon style="text-align: center; font-size:25px; margin-top:10%;" class="fa fa-video-camera"></md-icon>
                        <p class="text-center">Video</p>
                    </div>
                </md-content>
                <md-content flex-offset="35" flex="50" style="margin-bottom:-25px;background-color: transparent;overflow-y: hidden; margin-top:10%;">
                          <span style="display:table; margin:0 auto;" class="dialer-icons">
                                    <a href="" ng-click="" id="callIcon" style="width:50px; height:50px; background-color:red;">
                                        <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                                    </a>
                          </span>
                </md-content>
            </md-card>
        </md-content>