<div style="padding-top:3%" layout="row" ng-controller="CallController as callStatusCtrl">
    <md-toolbar ng-show="callStatusCtrl.phoneService.phone.currentCalls.length > 0">
        <div class="md-toolbar-tools" ng-if="callStatusCtrl.phoneService.phone.currentCalls.length > 0">
            <md-button aria-label="Call" ng-click="callStatusCtrl.backToCallButtonClicked()">
                Go Back
            </md-button>
            <h2>
                <span></span>
            </h2>
            <span flex="" ng-controller="ContactListController as contactListCtrl">{{callStatusCtrl.phoneService.phone.currentCalls[0] | currentCallParticipantNameFilter : contactListCtrl.contactList}}</span>
            <span flex-offset="10" flex="30" class="md-subhead callTimer"></span>
            <md-button class="" aria-label="Learn More">
                {{callStatusCtrl.phoneService.phone.currentCalls[0] | currentCallPhoneNumberFilter}}
            </md-button>

            <!--<md-button class="md-fab md-mini" aria-label="Favorite">-->
            <!--<a href="" ng-click="callStatusCtrl.showDTMFDialog()" style="width:50px; height:50px;">-->
            <!--<img id="dialer-image" src="images/dialer_green.png" style="height:35px; margin:auto; margin-left:50%;">-->
            <!--</a>-->
            <!--</md-button>-->
            <md-button class="md-fab md-mini" aria-label="Favorite" style="background-color:grey;">
                <a href="" ng-click="callStatusCtrl.muteCall()" style="width:50px; height:50px;">
                    <md-icon ng-if="callStatusCtrl.phoneService.phone.callOnMute" style="text-align: center; font-size:25px; margin-top:10%;" class="fa fa-microphone-slash"></md-icon>
                    <md-icon ng-if="!callStatusCtrl.phoneService.phone.callOnMute" style="text-align: center; font-size:25px; margin-top:10%;" class="fa fa-microphone"></md-icon>
                </a>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Favorite">
                <a href="" ng-click="callStatusCtrl.endCall()" style="width:50px; height:50px;">
                    <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                </a>
            </md-button>
        </div>
    </md-toolbar>
</div>