<!--
<md-list style="margin-left:-10px; margin-right:-10px; margin-top:-3px; background-color:lightgoldenrodyellow; padding:0%;">
    <md-list-item class="md-2-line">
        <div style="font-size: 25px; line-height: 65px;" flex="20" class="{{ChatCtrl.desktopNotificationIcon}}"></div>
        <div flex="80" style="width:100%" class="md-list-item-text" layout="column">
            <h3 style="font-size:14px; font-weight:bold;" flex="100">{{ChatCtrl.desktopNotificationHeader}}</h3>
            <p style="text-decoration: underline; font-color:#eee" ng-click='ChatCtrl.toggleNotifications()' flex="100">{{ChatCtrl.desktopNotificationParagraph}}</p>
        </div>
        <md-divider ></md-divider>
    </md-list-item>
</md-list>
-->
<md-content style ="overflow: hidden;background-color: transparent;" >

    <!--start call details dialog-->
    <script type="text/ng-template" id="callDetailsDialog">
        <md-dialog flex="40" aria-label="Call Details Dialog" ng-controller="CallDetailsController as callDetailsCtrl">
            <form ng-cloak style="overflow-x:hidden" ng-controller="RecentCallListController as RecentCallsCtrl">
              <md-toolbar ng-controller = "AddCallToCRMController as crmCtrl">
                  <div class="md-toolbar-tools">
                      <!-- <h2 style = "color: white;" class="pull-left col-xs-6">Call Details</h2> -->
                      <div flex="60" flex-offset = "20">
                        <div ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName != 'Unknown' && (crmCtrl.crmService.crmManager.crmList.length > 0 || crmCtrl.crmService.crmManager.crmList[0].validated)" flex="80" flex-offset="10">
                          <md-button class="md-icon-button fa fa-phone" ng-click="callDetailsCtrl.closeCallDetailsDialog(); RecentCallsCtrl.call();">
                          </md-button>
                          <md-button class="md-icon-button" ng-controller="CreateChatController as createChatCtrl"
                                     ng-click="createChatCtrl.createNewChat([RecentCallsCtrl.phoneService.callDetailsContact])">
                              <img style= "height: 20px; background-color: transparent;" ng-src= "images/add_chat.png"></img>
                          </md-button>
                          <md-button  class="md-icon-button" ng-click="crmCtrl.addCallToCRMButtonClicked(RecentCallsCtrl.phoneService.callDetailsSelectedCall, $event)">
                              <img style= "height: 25px; background-color: transparent;" ng-src= "images/ic_crm_gray_24dp.png"></img>
                          </md-button>
                          <md-button class="md-icon-button fa fa-trash" ng-click="RecentCallsCtrl.showDeleteConfirm($event)">
                          </md-button>
                        </div>
                        <div ng-hide="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown' || crmCtrl.crmService.crmManager.crmList.length > 0 || crmCtrl.crmService.crmManager.crmList[0].validated" flex="60" flex-offset="20">
                          <md-button class="md-icon-button fa fa-phone" ng-click="callDetailsCtrl.closeCallDetailsDialog(); RecentCallsCtrl.call();">
                          </md-button>
                          <md-button class="md-icon-button" ng-controller="CreateChatController as createChatCtrl"
                                     ng-click="createChatCtrl.createNewChat([RecentCallsCtrl.phoneService.callDetailsContact])">
                              <img style= "height: 20px; background-color: transparent;" ng-src= "images/add_chat.png"></img>
                          </md-button>
                          <md-button class="md-icon-button fa fa-trash" ng-click="RecentCallsCtrl.showDeleteConfirm($event)">
                          </md-button>
                        </div>
                        <div ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" flex="40" flex-offset="30">
                          <md-button class="md-icon-button fa fa-phone" ng-click="callDetailsCtrl.closeCallDetailsDialog(); RecentCallsCtrl.call();">
                          </md-button>
                          <md-button class="md-icon-button fa fa-trash" ng-click="RecentCallsCtrl.showDeleteConfirm($event)">
                          </md-button>
                        </div>
                      </div>
                      <div flex="20">
                        <md-button class="pull-right md-icon-button fa fa-close" ng-click="callDetailsCtrl.closeCallDetailsDialog()">
                        </md-button>
                    </div>
                  </div>
              </md-toolbar>

                <md-dialog-content class="flex-100" style="margin-top:3%; overflow-y:hidden;" >

                  <div>
                    <md-list style="margin-top:-3%;">
                      <md-list-item ng-hide="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" class="md-3-line" ng-controller="ContactListController as contactListCtrl">
                        <img ng-click="callDetailsCtrl.closeCallDetailsDialog(); contactListCtrl.viewContactById(RecentCallsCtrl.phoneService.callDetailsContact.userId);" ng-src="{{RecentCallsCtrl.phoneService.callDetailsContact.picture}}" class="md-avatar">
                        <div class="md-list-item-text" style="margin-top:15px;">
                          <h3 ng-click="callDetailsCtrl.closeCallDetailsDialog(); contactListCtrl.viewContactById(RecentCallsCtrl.phoneService.callDetailsContact.userId);">{{RecentCallsCtrl.phoneService.callDetailsContact.firstName}}</h3>
                          <h4 ng-click="callDetailsCtrl.closeCallDetailsDialog(); contactListCtrl.viewContactById(RecentCallsCtrl.phoneService.callDetailsContact.userId);">{{RecentCallsCtrl.phoneService.callDetailsContact.phone}}</h4>
                        </div>
                      </md-list-item>
                      <md-list-item ng-show="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" class="md-3-line" ng-controller="ContactListController as contactListCtrl">
                        <img ng-src="{{RecentCallsCtrl.phoneService.callDetailsContact.picture}}" class="md-avatar">
                        <div class="md-list-item-text" style="margin-top:15px;">
                          <h3>{{RecentCallsCtrl.phoneService.callDetailsContact.firstName}}</h3>
                          <h4>{{RecentCallsCtrl.phoneService.callDetailsContact.phone}}</h4>
                        </div>
                      </md-list-item>
                    </md-list>
                    <!-- <md-list layout = "row" style="margin-top:-5%;">
                      <md-list-item>
                        <p class="text-center">All</p>
                      </md-list-item>
                      <md-list-item>
                        <p class="text-center">Missed</p>
                      </md-list-item>
                      <md-list-item>
                        <p class="text-center">Outgoing</p>
                      </md-list-item>
                      <md-list-item>
                        <p class="text-center">Incoming</p>
                      </md-list-item>
                    </md-list> -->
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                      <md-nav-item id="centralize-4-navbar" md-nav-click="goto('all')" name="all">({{RecentCallsCtrl.phoneService.callDetailsCalls.length}}) All</md-nav-item>
                      <md-nav-item id="centralize-4-navbar" md-nav-click="goto('missed')" name="missed">({{RecentCallsCtrl.phoneService.missedCalls.length}}) Missed</md-nav-item>
                      <md-nav-item id="centralize-4-navbar" md-nav-click="goto('incoming')" name="incoming">({{RecentCallsCtrl.phoneService.incomingCalls.length}}) Incoming</md-nav-item>
                      <md-nav-item id="centralize-4-navbar" md-nav-click="goto('outgoing')" name="outgoing">({{RecentCallsCtrl.phoneService.outgoingCalls.length}}) Outgoing</md-nav-item>
                    </md-nav-bar>
                    <md-divider></md-divider>
                    <md-list layout ="column" style="background-color:#EEEEEE; overflow-y:scroll; height:250px;">

                      <!-- All calls -->
                      <div ng-show="currentNavItem=='all'" ng-repeat="call in phoneService.callDetailsCalls">
                        <md-divider ng-if="!$first"></md-divider>
                        <div layout="row" style="width:100%;">
                          <div class="pull-left" layout="column" style="width:50%; margin-left:2%;">
                            <p>
                              {{call.timeStamp | timeStampToDateFilter}}
                            </p>
                            <p>
                              {{call.duration}}
                            </p>
                          </div>
                          <div class="pull-right" layout="column" style="width:50%; margin-right:2%;">
                            <p style="text-align:right">
                              {{call.timeStamp | timeStampToTimeFilter}}
                            </p>
                            <div>
                              <i ng-if="call.incoming && call.answered" class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                              <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                              <i ng-if="!call.incoming && call.answered" class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                              <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Missed calls -->
                      <div ng-show="currentNavItem=='missed'" ng-repeat="call in phoneService.missedCalls">
                        <md-divider ng-if="!$first"></md-divider>
                        <div layout="row" style="width:100%;">
                          <div class="pull-left" layout="column" style="width:50%; margin-left:2%;">
                            <p>
                              {{call.timeStamp | timeStampToDateFilter}}
                            </p>
                            <p>
                              {{call.duration}}
                            </p>
                          </div>
                          <div class="pull-right" layout="column" style="width:50%; margin-right:2%;">
                            <p style="text-align:right">
                              {{call.timeStamp | timeStampToTimeFilter}}
                            </p>
                            <div>
                              <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                              <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-show="currentNavItem=='missed' && RecentCallsCtrl.phoneService.missedCalls.length==0">
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" class="text-center" style="margin-top:100px;">There are no missed calls from {{RecentCallsCtrl.phoneService.callDetailsContact.phone}}.</h3>
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" class="text-center" style="margin-top:100px;">There are no missed calls from {{RecentCallsCtrl.phoneService.callDetailsContact.firstName}}.</h3>
                      </div>

                      <!-- Incoming calls -->
                      <div ng-show="currentNavItem=='incoming'" ng-repeat="call in phoneService.incomingCalls">
                        <md-divider ng-if="!$first"></md-divider>
                        <div layout="row" style="width:100%;">
                          <div class="pull-left" layout="column" style="width:50%; margin-left:2%;">
                            <p>
                              {{call.timeStamp | timeStampToDateFilter}}
                            </p>
                            <p>
                              {{call.duration}}
                            </p>
                          </div>
                          <div class="pull-right" layout="column" style="width:50%; margin-right:2%;">
                            <p style="text-align:right">
                              {{call.timeStamp | timeStampToTimeFilter}}
                            </p>
                            <div>
                              <i class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-show="currentNavItem=='incoming' && RecentCallsCtrl.phoneService.incomingCalls.length==0">
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" class="text-center" style="margin-top:100px;">There are no incoming calls from {{RecentCallsCtrl.phoneService.callDetailsContact.phone}}.</h3>
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" class="text-center" style="margin-top:100px;">There are no incoming calls from {{RecentCallsCtrl.phoneService.callDetailsContact.firstName}}.</h3>
                      </div>

                      <!-- Outgoing calls -->
                      <div ng-show="currentNavItem=='outgoing'" ng-repeat="call in phoneService.outgoingCalls">
                        <md-divider ng-if="!$first"></md-divider>
                        <div layout="row" style="width:100%;">
                          <div class="pull-left" layout="column" style="width:50%; margin-left:2%;">
                            <p>
                              {{call.timeStamp | timeStampToDateFilter}}
                            </p>
                            <p>
                              {{call.duration}}
                            </p>
                          </div>
                          <div class="pull-right" layout="column" style="width:50%; margin-right:2%;">
                            <p style="text-align:right">
                              {{call.timeStamp | timeStampToTimeFilter}}
                            </p>
                            <div>
                              <i class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div ng-show="currentNavItem=='outgoing' && RecentCallsCtrl.phoneService.outgoingCalls.length==0">
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName === 'Unknown'" class="text-center" style="margin-top:100px;">There are no outgoing calls from {{RecentCallsCtrl.phoneService.callDetailsContact.phone}}.</h3>
                        <h3 ng-if="RecentCallsCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" class="text-center" style="margin-top:100px;">There are no outgoing calls from {{RecentCallsCtrl.phoneService.callDetailsContact.firstName}}.</h3>
                      </div>

                    </md-list>
                  </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script>

    <!-- <script type="text/ng-template" id="fetchingCallableRecordsProgress">
        <md-dialog aria-label="Fetching your CRM Records" ng-controller="AddCallToCRMController as crmCtrl">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Fetching your CRM Records</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="crmCtrl.closeAddCallToCRMDialog()">
                            &times;
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-content>
                            <md-progress-linear md-mode="query" ng-disabled="crmCtrl.isCallableRecordListAvailable()"></md-progress-linear>
                        </md-content>
                        <md-content ng-if="!crmCtrl.isCallableRecordListAvailable()">
                            <h3>There are no records in your CRM that match the selected phone number.</h3>
                        </md-content>
                    </div>
                </md-dialog-content>
            </form>
        </md-dialog>
    </script> -->

    <script type="text/ng-template" id="addCallToCRMForm">
        <md-dialog flex = "30" aria-label="Add Call To CRM" ng-controller="AddCallToCRMController as crmCtrl">

          <form ng-cloak>
            <div ng-show = "crmCtrl.crmService.isFetching">
              <md-toolbar>
                  <div class="md-toolbar-tools">
                      <h2>Fetching your CRM Records</h2>
                      <span flex></span>
                      <md-button class="md-icon-button" ng-click="crmCtrl.closeAddCallToCRMDialog()">
                          &times;
                      </md-button>
                  </div>
              </md-toolbar>

              <md-dialog-content>
                  <div class="md-dialog-content">
                      <md-content>
                          <md-progress-linear md-mode="query" ng-disabled="crmCtrl.isCallableRecordListAvailable()"></md-progress-linear>
                      </md-content>
                  </div>
              </md-dialog-content>
          </div>


              <div ng-show="crmCtrl.callInsertionInProgress" class="row" style="padding-top:25%" ng-cloak>
                  <md-progress-circular style="margin: 0 auto 0 auto;" ng-disabled="isAccountReady" md-diameter="50"></md-progress-circular>
              </div>

            <div ng-show="!crmCtrl.crmService.isFetching && !crmCtrl.callInsertionInProgress">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add Call to CRM</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="crmCtrl.closeAddCallToCRMDialog()">
                            &times;
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content ng-if="crmCtrl.isCallableRecordListAvailable()">
                    <div ng-show="crmCtrl.crmService.callInserted" class="md-block">
                        <h3 ng-class="{'call-insert-success': crmCtrl.callInsertDetails.cssClass, 'call-insert-error': !crmCtrl.callInsertDetails.cssClass}">{{crmCtrl.callInsertDetails.msg}}</h3>
                    </div>
                    <div class="md-dialog-content">
                      <md-input-container class="md-icon-float md-block" flex="100">
                          <label>Subject</label>
                          <input ng-model="crmCtrl.subject"/>
                      </md-input-container>
                        <md-input-container ng-if="crmCtrl.isCallableRecordListAvailable()">
                            <label>Choose a CRM entry</label>
                            <md-select ng-model="crmCtrl.selectedRecords" multiple="true">
                                <md-optgroup ng-if="crmCtrl.isCallableLeadListAvailable()" label="Leads">
                                    <md-option ng-value="lead" ng-repeat="lead in crmCtrl.crmService.callableRecords['Leads']">{{lead.name}}</md-option>
                                </md-optgroup>
                                <md-optgroup ng-if="crmCtrl.isCallableContactListAvailable()" label="Contacts">
                                    <md-option ng-value="contact" ng-repeat="contact in crmCtrl.crmService.callableRecords['Contacts']">{{contact.name}}</md-option>
                                </md-optgroup>
                                <md-optgroup ng-if="crmCtrl.isCallableAccountListAvailable()" label="Accounts">
                                    <md-option ng-value="account" ng-repeat="account in crmCtrl.crmService.callableRecords['Accounts']">{{account.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="crmCtrl.isCallableRecordListAvailable()" class="md-icon-float md-block" flex="100">
                            <label>Notes</label>
                            <textarea ng-model="crmCtrl.notes"></textarea>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-content ng-if="!crmCtrl.isCallableRecordListAvailable()">
                    <h3 style = "font-size: 18px; margin-top: 2%" flex-offset = "5" >There are no records in your CRM that match the selected phone number.</h3>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="crmCtrl.closeAddCallToCRMDialog()">
                        Close
                    </md-button>
                    <md-button ng-if="crmCtrl.isCallableRecordListAvailable()" ng-click="crmCtrl.addCallToCRM()">
                        Add Call
                    </md-button>
                </md-dialog-actions>
              </div>
            </form>
        </md-dialog>
    </script>

    <!-- <md-autocomplete class= "mercurioBlueColor" id='chatListSearch' style="font-color: white; margin-top:2%;" flex
                     md-input-name="autocompleteField"
                     md-input-minlength="2"
                     md-input-maxlength="18"
                     md-no-cache="ctrl.noCache"
                     md-selected-item="ctrl.selectedItem"
                     md-search-text="ctrl.searchText"
                     md-items="item in ctrl.querySearch(ctrl.searchText)"
                     md-item-text="item.display"
                     md-floating-label="Search">
    </md-autocomplete> -->
    <md-nav-bar md-selected-nav-item="sidebarNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item style="margin-left:-5%" flex="25" md-nav-click="goto('all')" name="all">({{recentCallListCtrl.phoneService.phone.recentCallList.length}}) All</md-nav-item>
      <md-nav-item flex="25" md-nav-click="goto('missed')" name="missed">({{sidebarMissedCalls.length}}) Missed</md-nav-item>
      <md-nav-item flex="25" md-nav-click="goto('incoming')" name="incoming">({{sidebarIncomingCalls.length}}) In</md-nav-item>
      <md-nav-item flex="25" md-nav-click="goto('outgoing')" name="outgoing">({{sidebarOutgoingCalls.length}}) Out</md-nav-item>
    </md-nav-bar>

    <!-- All calls -->
    <md-button ng-show="sidebarNavItem=='all'" ng-repeat="call in recentCallListCtrl.phoneService.phone.recentCallList track by $index" style="background:rgba(0,0,0,0.60); margin-left:0%; margin-bottom: 1%; width:100%; border-bottom:1px solid #eee">

        <md-list style="padding:0%;">
            <md-list-item class="md-2-line" ng-controller="ContactListController as contactListCtrl" style="margin-right:-5%; margin-left:-5%" layout="row">
              <div ng-click="selectCallIndex(call, 'recent')" flex="70" layout="row">
                <img style="width:40px; height:40px; margin-top:4%; border-radius:35px;" flex="10" ng-src="{{call.from | callListAvatarFilter:call.to:call.incoming:contactListCtrl.contactList}}" class="md-avatar"/>
                <md-truncate md-ellipsis style=" color:white; margin-top:5%; word-break: break-all;" flex="50">{{call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList}}</md-truncate>
                <div flex="25" layout="column">
                    <p style= "color: white;" class="recentCallListTimeStamp">{{call.timeStamp |  timeStampFilter}}</p>
                    <!-- <img style="display:block; margin:auto; width:11px; height:14px;" ng-src="{{call.incoming | callListDirectionFilter}}"> -->
                    <i ng-if="call.incoming && call.answered" class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                    <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && call.answered" class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                </div>
              </div>
              <div flex="30" layout="row">
                <div style="font-size:22px; padding-top:7%; color:white" flex="20" class="fa fa-phone" ng-click="recentCallListCtrl.redial(call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList);"></div>
                <!--<md-icon style= "color: white;"aria-label="Delete Call" class="md-secondary md-raised fa fa-trash-o" ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)"></md-icon>-->
              </div>
            </md-list-item>
        </md-list>

        <md-divider layout-fill ng-show="$index == selectedCallIndex"></md-divider>
        <div style = "color: white;" layout="column" ng-show="$index == selectedCallIndex" layout-fill class="expanded">

            <span ng-controller="CallDetailsController as callDetailsCtrl" ng-click="recentCallListCtrl.fetchCallDetails(call, 'recent'); callDetailsCtrl.showCallDetailsDialog($event, $index);">Call Details</span>

            <span  ng-controller="AddCallToCRMController as crmCtrl" ng-click="crmCtrl.addCallToCRMButtonClicked(call, $event)" ng-show="crmCtrl.crmService.crmManager.crmList.length > 0 && crmCtrl.crmService.crmManager.crmList[0].validated">Add To CRM</span><!--data-toggle="modal" data-target='#addCallToCRMModal' ng-click="crmCtrl.markCallAsSelected(call)">Add to CRM</span>-->
            <span  ng-if="recentCallListCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" ng-controller="CreateChatController as createChatCtrl" ng-click="createChatCtrl.createNewChat([recentCallListCtrl.phoneService.callDetailsContact])">Send Text Message</span>
            <span ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)">Delete</span>
        </div>
    </md-button>
    <div ng-show="sidebarNavItem=='all' && recentCallListCtrl.phoneService.phone.recentCallList.length==0">
      <h3 class="text-center"> There are no recent calls.</h3>
    </div>

    <!-- Missed calls -->
    <md-button ng-show="sidebarNavItem=='missed'" ng-repeat="call in sidebarMissedCalls track by $index" style="background:rgba(0,0,0,0.60); margin-left:0%; margin-bottom: 1%; width:100%; border-bottom:1px solid #eee">
        <md-list style="padding:0%;">
            <md-list-item class="md-2-line" ng-controller="ContactListController as contactListCtrl" style="margin-right:-5%; margin-left:-5%" layout="row">
              <div ng-click="selectCallIndex(call, 'missed')" flex="70" layout="row">
                <img style="width:40px; height:40px; margin-top:4%; border-radius:35px;" flex="10" ng-src="{{call.from | callListAvatarFilter:call.to:call.incoming:contactListCtrl.contactList}}" class="md-avatar"/>
                <md-truncate md-ellipsis style=" color:white; margin-top:5%; word-break: break-all;" flex="50">{{call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList}}</md-truncate>
                <div flex="25" layout="column">
                    <p style= "color: white;" class="recentCallListTimeStamp">{{call.timeStamp |  timeStampFilter}}</p>
                    <!-- <img style="display:block; margin:auto; width:11px; height:14px;" ng-src="{{call.incoming | callListDirectionFilter}}"> -->
                    <i ng-if="call.incoming && call.answered" class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                    <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && call.answered" class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                </div>
              </div>
              <div flex="30" layout="row">
                <div style="font-size:22px; padding-top:7%; color:white" flex="20" class="fa fa-phone" ng-click="recentCallListCtrl.redial(call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList);"></div>
                <!--<md-icon style= "color: white;"aria-label="Delete Call" class="md-secondary md-raised fa fa-trash-o" ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)"></md-icon>-->
              </div>
            </md-list-item>
        </md-list>

        <md-divider layout-fill ng-show="$index == selectedCallIndex"></md-divider>
        <div style = "color: white;" layout="column" ng-show="$index == selectedCallIndex" layout-fill class="expanded">

            <span ng-controller="CallDetailsController as callDetailsCtrl" ng-click="recentCallListCtrl.fetchCallDetails(call, 'missed'); callDetailsCtrl.showCallDetailsDialog($event, $index);">Call Details</span>

            <span  ng-controller="AddCallToCRMController as crmCtrl" ng-click="crmCtrl.addCallToCRMButtonClicked(call, $event)" ng-show="crmCtrl.crmService.crmManager.crmList.length > 0 && crmCtrl.crmService.crmManager.crmList[0].validated">Add To CRM</span><!--data-toggle="modal" data-target='#addCallToCRMModal' ng-click="crmCtrl.markCallAsSelected(call)">Add to CRM</span>-->
            <span  ng-if="recentCallListCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" ng-controller="CreateChatController as createChatCtrl" ng-click="createChatCtrl.createNewChat([recentCallListCtrl.phoneService.callDetailsContact])">Send Text Message</span>
            <span  ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)">Delete</span>
        </div>
    </md-button>
    <div ng-show="sidebarNavItem=='missed' && recentCallListCtrl.phoneService.sidebarMissedCalls.length==0">
      <h3 class="text-center"> There are no missed calls </h3>
    </div>

    <!-- Incoming calls -->
    <md-button ng-show="sidebarNavItem=='incoming'" ng-repeat="call in sidebarIncomingCalls track by $index" style="background:rgba(0,0,0,0.60); margin-left:0%; margin-bottom: 1%; width:100%; border-bottom:1px solid #eee">
        <md-list style="padding:0%;">
            <md-list-item class="md-2-line" ng-controller="ContactListController as contactListCtrl" style="margin-right:-5%; margin-left:-5%" layout="row">
              <div ng-click="selectCallIndex(call, 'incoming')" flex="70" layout="row">
                <img style="width:40px; height:40px; margin-top:4%; border-radius:35px;" flex="10" ng-src="{{call.from | callListAvatarFilter:call.to:call.incoming:contactListCtrl.contactList}}" class="md-avatar"/>
                <md-truncate md-ellipsis style=" color:white; margin-top:5%; word-break: break-all;" flex="50">{{call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList}}</md-truncate>
                <div flex="25" layout="column">
                    <p style= "color: white;" class="recentCallListTimeStamp">{{call.timeStamp |  timeStampFilter}}</p>
                    <!-- <img style="display:block; margin:auto; width:11px; height:14px;" ng-src="{{call.incoming | callListDirectionFilter}}"> -->
                    <i ng-if="call.incoming && call.answered" class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                    <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && call.answered" class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                </div>
              </div>
              <div flex="30" layout="row">
                <div style="font-size:22px; padding-top:7%; color:white" flex="20" class="fa fa-phone" ng-click="recentCallListCtrl.redial(call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList);"></div>
                <!--<md-icon style= "color: white;"aria-label="Delete Call" class="md-secondary md-raised fa fa-trash-o" ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)"></md-icon>-->
              </div>
            </md-list-item>
        </md-list>

        <md-divider layout-fill ng-show="$index == selectedCallIndex"></md-divider>
        <div style = "color: white;"layout="column" ng-show="$index == selectedCallIndex" layout-fill class="expanded">

            <span ng-controller="CallDetailsController as callDetailsCtrl" ng-click="recentCallListCtrl.fetchCallDetails(call, 'incoming'); callDetailsCtrl.showCallDetailsDialog($event, $index);">Call Details</span>

            <span  ng-controller="AddCallToCRMController as crmCtrl" ng-click="crmCtrl.addCallToCRMButtonClicked(call, $event)" ng-show="crmCtrl.crmService.crmManager.crmList.length > 0 && crmCtrl.crmService.crmManager.crmList[0].validated">Add To CRM</span><!--data-toggle="modal" data-target='#addCallToCRMModal' ng-click="crmCtrl.markCallAsSelected(call)">Add to CRM</span>-->
             <span  ng-if="recentCallListCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" ng-controller="CreateChatController as createChatCtrl" ng-click="createChatCtrl.createNewChat([recentCallListCtrl.phoneService.callDetailsContact])">Send Text Message</span>
           <span  ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)">Delete</span>
        </div>
    </md-button>
    <div ng-show="sidebarNavItem=='incoming' && recentCallListCtrl.phoneService.sidebarIncomingCalls.length==0">
      <h3 class="text-center"> There are no incoming calls </h3>
    </div>

    <!-- Outgoing calls -->
    <md-button ng-show="sidebarNavItem=='outgoing'" ng-repeat="call in sidebarOutgoingCalls track by $index" style="background:rgba(0,0,0,0.60); margin-left:0%; margin-bottom: 1%; width:100%; border-bottom:1px solid #eee">
        <md-list style="padding:0%;">
            <md-list-item class="md-2-line" ng-controller="ContactListController as contactListCtrl" style="margin-right:-5%; margin-left:-5%" layout="row">
              <div ng-click="selectCallIndex(call, 'outgoing')" flex="70" layout="row">
                <img style="width:40px; height:40px; margin-top:4%; border-radius:35px;" flex="10" ng-src="{{call.from | callListAvatarFilter:call.to:call.incoming:contactListCtrl.contactList}}" class="md-avatar"/>
                <md-truncate md-ellipsis style=" color:white; margin-top:5%; word-break: break-all;" flex="50">{{call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList}}</md-truncate>
                <div flex="25" layout="column">
                    <p style= "color: white;" class="recentCallListTimeStamp">{{call.timeStamp |  timeStampFilter}}</p>
                    <!-- <img style="display:block; margin:auto; width:11px; height:14px;" ng-src="{{call.incoming | callListDirectionFilter}}"> -->
                    <i ng-if="call.incoming && call.answered" class="fa fa-long-arrow-up incoming pull-right" style="margin-right:15%;"></i>
                    <i ng-if="call.incoming && !call.answered" class="fa fa-long-arrow-up incoming-missed pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && call.answered" class="fa fa-long-arrow-up outgoing pull-right" style="margin-right:15%;"></i>
                    <i ng-if="!call.incoming && !call.answered" class="fa fa-long-arrow-up outgoing-missed pull-right" style="margin-right:15%;"></i>
                </div>
              </div>
              <div flex="30" layout="row">
                <div style="font-size:22px; padding-top:7%; color:white" flex="20" class="fa fa-phone" ng-click="recentCallListCtrl.redial(call.from | callListNameFilter:call.to:call.incoming:contactListCtrl.contactList);"></div>
                <!--<md-icon style= "color: white;"aria-label="Delete Call" class="md-secondary md-raised fa fa-trash-o" ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)"></md-icon>-->
              </div>
            </md-list-item>
        </md-list>

        <md-divider layout-fill ng-show="$index == selectedCallIndex"></md-divider>
        <div style = "color: white;"layout="column" ng-show="$index == selectedCallIndex" layout-fill class="expanded">

            <span ng-controller="CallDetailsController as callDetailsCtrl" ng-click="recentCallListCtrl.fetchCallDetails(call, 'outgoing'); callDetailsCtrl.showCallDetailsDialog($event, $index);">Call Details</span>

            <span  ng-controller="AddCallToCRMController as crmCtrl" ng-click="crmCtrl.addCallToCRMButtonClicked(call, $event)" ng-show="crmCtrl.crmService.crmManager.crmList.length > 0 && crmCtrl.crmService.crmManager.crmList[0].validated">Add To CRM</span><!--data-toggle="modal" data-target='#addCallToCRMModal' ng-click="crmCtrl.markCallAsSelected(call)">Add to CRM</span>-->
            <span  ng-if="recentCallListCtrl.phoneService.callDetailsContact.firstName != 'Unknown'" ng-controller="CreateChatController as createChatCtrl" ng-click="createChatCtrl.createNewChat([recentCallListCtrl.phoneService.callDetailsContact])">Send Text Message</span>
            <span ng-click="recentCallListCtrl.showDeleteConfirm($event, $index)">Delete</span>
        </div>
    </md-button>
    <div ng-show="sidebarNavItem=='outgoing' && recentCallListCtrl.phoneService.sidebarOutgoingCalls.length==0">
      <h3 class="text-center"> There are no outgoing calls </h3>
    </div>

    <div ng-controller="ChatListController as chatListCtrl" class="lock-size float-button" layout="row" layout-align="end end">
        <md-fab-speed-dial md-open="chatListCtrl.isOpen" md-direction="{{chatListCtrl.selectedDirection}}" ng-class="chatListCtrl.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" style="background:green;" class="md-fab" ng-click="chatListCtrl.showCreateChatDialog($event)" >
                    <img style= "height: 20px; background-color: transparent;" ng-src= "images/add_chat.png"></img>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </div>

</md-content>
