<div ng-controller="ContactController as ContactCtrl">
    <div ng-show="areItemsSelected()" style="width:100%; font-size:25px; margin-left:80%" class="fa fa-trash"></div>
    <md-checkbox aria-label="Select All"
                 ng-checked="isChecked()"
                 md-indeterminate="isIndeterminate()"
                 ng-click="toggleAll()">
        <span ng-if="isChecked()">Un-</span>Select All
    </md-checkbox>
    <md-button ng-repeat="item in items" style="margin-left:0%; width:100%; border-bottom:1px solid #eee;">
        <md-list>
            <md-list-item style="margin-right:-5%; margin-left:-5%" layout="row" class="md-3-line">
                <md-checkbox style="width:100%; margin-left:0%" layout="row" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                    <md-list-item style="width:112%">
                        <img style="width:40px; height:40px; margin-top:4%; border-radius:35px;" flex="10" ng-src={{item.image}} class=""/>
                        <p style="font-size:12px; margin-top:5%;; word-break: break-all" flex="50">{{item.name}}</p>
                        <div flex="20" layout="column">
                            <p style="font-size:9px;">{{item.time}}</p>
                            <img style="display:block; margin:auto; width:11px; height:14px;" ng-src="{{item.icon}}">
                        </div>
                        <div style="font-size:22px; padding-top:7%; color:#1565c0" flex="20" class="{{item.type}}"></div>
                    </md-list-item>
                </md-checkbox>
            </md-list-item>
        </md-list>
    </md-button>
</div>