<!--start profile editor form dialog-->
<script type="text/ng-template" id="profileEditorForm">
    <md-dialog  flex="55" aria-label="Profile Editor Form" ng-controller="ProfileEditorController as profileCtrl">
        <form ng-cloak>
            <md-toolbar class="mercurioBlueBackground">
                <div class="md-toolbar-tools">
                    <h2>Profile Editor</h2>
                </div>
            </md-toolbar>
            <div ng-show="profileCtrl.saved" class="md-block">
                <h3 ng-class="{'profile-save-success': profileCtrl.saved}">{{profileCtrl.msg}}</h3>
            </div>
            <md-dialog-content style= "overflow-y: hidden">

                <div layout="row" class="flex-80 flex-offset-10" style="margin-top:3%">
                    <div id="parent" flex="90" style="height:270px;">

                        <img id="profilePicturePreview" id="child" fix-image-orientation="profileCtrl.getProfilePicture()" style="opacity:{{profileCtrl.accountService.opacity}}; width: 100%; height: 100%; display: inline-block;" ng-src="{{profileCtrl.getProfilePicture()}}" />
                        <div ng-if="profileCtrl.accountService.uploadingImage" style="left: 0; position:absolute; text-align:center; margin-top: -250px; width: 100%" layout="row" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="determinate" value="{{profileCtrl.accountService.progress}}" md-diameter="200"></md-progress-circular>
                        </div>
                        <div style="position:relative;top:-50%;left:38%;">
                        <md-fab-speed-dial md-open="profileCtrl.isOpen" md-direction="{{profileCtrl.selectedDirection}}" ng-class="profileCtrl.selectedMode">
                              <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-warn">
                                    <md-icon style="font-size:22px;" class="fa fa-camera"></md-icon>
                                </md-button>
                              </md-fab-trigger>

                              <md-fab-actions>
                                <md-button class="md-fab md-raised md-mini">
                                    <md-icon style="font-size:22px;" class="fa fa-file-image-o">
                                        <input style="z-index: -1; opacity: 0; margin-left: -50%; min-height: 150px; margin-top: -110%;"  onchange="angular.element(this).scope().profilePictureSelected(this)" type="file" ng-model="profileCtrl.picture" name="profileImage" id="profileImage" accept="image/*"/>
                                    </md-icon>
                                </md-button>
                                <md-button class="md-fab md-raised md-mini" ng-show="profileCtrl.accountService.activeAccount.picture" ng-click = "profileCtrl.deleteProfilePicture()">
                                  <md-icon style="font-size:22px;" class="fa fa-trash">
                                  </md-icon>
                                </md-button>
                              </md-fab-actions>
                            </md-fab-speed-dial>
                          </div>


                        <!--<md-card-actions layout="row" layout-align="end end">-->

                        <!--<input style="visibility:hidden;" onchange="angular.element(this).scope().profilePictureSelected(this)" type="file" ng-model="profileCtrl.picture" name="profileImage" id="profileImage" accept="image/*"/>-->
                        <!--<label style="margin-top: -1%;" class="btn btn-info" for="profileImage">Choose an Image</label>-->

                        <!--</md-card-actions>-->
                    </div>

                    <div flex="100">
                        <md-input-container class=" md-icon-float md-block">
                            <label>First Name</label>
                            <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                            <input id="firstName" type="text" ng-change="profileCtrl.profileChanged()" ng-model="profileCtrl.firstName" required>
                        </md-input-container>
                        <md-input-container class=" md-icon-float md-block">
                            <label>Last Name</label>
                            <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                            <input id="lastName" type="text" ng-change="profileCtrl.profileChanged()" ng-model="profileCtrl.lastName" required>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Status Message</label>
                            <md-icon style="left: 6%" class="fa fa-comment-o"></md-icon>
                            <input id="statusMessage" type="text" maxlength="200" ng-change = "profileCtrl.profileChanged()" ng-model="profileCtrl.statusMessage">
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label>Availability</label>
                            <md-icon style="left: 6%"class="fa fa-circle-o"></md-icon>
                            <md-select style="min-width: 100px;" id="availability" ng-change="onChange()" ng-model="profileCtrl.availability">
                                <md-option ng-click= "profileCtrl.profileChanged()" ng-selected="{{profileCtrl.availability === 'Online' ? 'true' : 'false' }}" value="0">Online</md-option>
                                <md-option ng-click= "profileCtrl.profileChanged()" ng-selected="{{profileCtrl.availability === 'Away' ? 'true' : 'false' }}" value="1">Away</md-option>
                                <md-option ng-click= "profileCtrl.profileChanged()" ng-selected="{{profileCtrl.availability === 'Busy' ? 'true' : 'false' }}" value="2">Busy</md-option>
                                <md-option ng-click= "profileCtrl.profileChanged()" ng-selected="{{profileCtrl.availability === 'onACall' ? 'true' : 'false' }}" value="3">On a call</md-option>
                                <md-option ng-click= "profileCtrl.profileChanged()" ng-selected="{{profileCtrl.availability === 'Offline' ? 'true' : 'false'}}" value="4">Offline</md-option>
                            </md-select>
                            <!--<input id="availablity" type="text" ng-model="profileCtrl.availability" placeholder="{{profileCtrl.getAvailability()}}">-->
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" flex="60" flex-offset="20" style="margin-top:8%">
                    <md-content style="overflow-x: hidden; background-color: white;" class="md-icon-float" flex="70">
                        <i style = "" class="fa fa-envelope"></i>
                        <label style="font-size: 11px">Email</label>
                        <p>{{profileCtrl.getEmail()}}</p>
                    </md-content>
                    <md-content style= "overflow-x: hidden; background-color: white;" class="md-icon-float" flex="30">
                        <i style = "" class="fa fa-phone"></i>
                        <label style="font-size: 11px">Phone</label>
                        <p>{{profileCtrl.getPhone()}}</p>
                    </md-content>
                </div>
                <div layout="row" flex="60" flex-offset="20" layout="row">
                    <md-content style= "overflow-x: hidden; background-color: white;" class="md-icon-float" flex="70">
                        <i style = "" class="fa fa-building-o"></i>
                        <label style="font-size: 11px">Company</label>
                        <p>{{profileCtrl.getCompanyName()}}</p>
                    </md-content>
                    <md-content style= "overflow-x: hidden; background-color: white;"class="md-icon-float" flex="30">
                        <i style = "" class="fa fa-phone"></i>
                        <label style="font-size: 11px">Ext.</label>
                        <p>{{profileCtrl.getExtension()}}</p>
                    </md-content>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">

                <span flex></span>
                <md-button ng-disabled = "profileCtrl.accountService.uploadingImage" ng-click="profileCtrl.closeProfileEditorDialog()">
                    Close
                </md-button>
                <md-button ng-show="profileCtrl.saveButtonIsAvailable" ng-click="profileCtrl.saveProfileInfo();">
                    Save
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<!--end profile editor form-->

<!--start crm manager form dialog-->
<script type="text/ng-template" id="manageCRMForm">
    <md-dialog flex="40" aria-label="Manage CRM Form" ng-controller="ManageCRMController as crmCtrl">
        <form ng-cloak>
            <md-toolbar class="mercurioBlueBackground">
                <div class="md-toolbar-tools">
                    <h2>CRM Manager</h2>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-dialog-content class="flex-80 flex-offset-10" style="margin-top:3%;">

                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex="100">
                        <label>CRM Name</label>
                        <md-icon class="fa fa-comment-o"></md-icon>
                        <input required md-no-asterisk type="text" ng-model="crmCtrl.name"
                               ng-change="crmCtrl.crmNameChanged()" required>

                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex="100">
                        <label>2-Factor Authentication Token</label>
                        <md-icon class="fa fa-circle-o"></md-icon>
                        <input required md-no-asterisk type="text" ng-model="crmCtrl.token"
                               ng-change="crmCtrl.crmTokenChanged()" required>
                        <a href="" ng-click="crmCtrl.findCRMAuthTokenButtonClicked()">Find your 2-Factor Authentication Token</a>
                    </md-input-container>
                    <!--<md-progress-circular ng-if="savingCRMInfo" class="md-hue-2" style="margin: 0 auto 0 auto;" ng-disabled="!savingCRMInfo" md-diameter="20px"></md-progress-circular>-->
                    <img style="margin-top: 4%; height: 20px;" ng-show = "crm.validated" ng-src="images/ic_check_green.png" alt=""/>
                    <img style="margin-top: 4%; height: 20px;" ng-show = "!crm.validated" ng-src="images/ic_exclamation_red.png" alt=""/>
                </div>

                <div layout="row">
                    <md-input-container class=" md-icon-float md-block">
                        <md-checkbox md-no-ink ng-model="crmCtrl.newInsertCallsAutomaticallySetting" ng-value="crmCtrl.crmManager.crmList[0].insertCallsAutomatically"
                                     aria-label="Insert Calls" ng-change="crmCtrl.insertCallsCheckboxChanged()">
                            Show "Log Call to CRM" dialog after each call ends.
                        </md-checkbox>
                        <label></label>
                    </md-input-container>
                  </div>



            </md-dialog-content>

            <md-dialog-actions layout="row">
              <md-button ng-show="crmCtrl.crmManager.crmList.length>0" ng-click="crmCtrl.deleteCRMs();">
                  Delete CRM
              </md-button>
                <span flex></span>
                <md-button ng-click="crmCtrl.closeManageCRMDialog()">
                    Close
                </md-button>
                <md-button ng-if="crmCtrl.saveCRMDetailsButtonIsAvailable" ng-click="crmCtrl.addCRM()">
                    Save
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<!--end crm manager dialog-->

<!--start incoming call dialog-->
<script type="text/ng-template" id="incomingCallDialog">
    <md-dialog aria-label="Incoming Call Dialog" ng-controller="IncomingCallDialogController as incomingCallCtrl">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Incoming Call</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="md-dialog-content" layout="row">
                <p class="center" ng-controller="ContactListController as contactListCtrl">{{incomingCallCtrl.callerId | incomingCallNameFilter : contactListCtrl.contactList}}</p>
            </div>
            <div class="md-dialog-content" layout="row">
                <p class="center" >{{incomingCallCtrl.callerId}}</p>
            </div>
            <div class="md-dialog-content" layout="row">
                <span class="dialer-icons" style="margin:auto;">
                    <a href="" ng-click="incomingCallCtrl.ignoreCall()" style="width:50px; height:50px; background-color:red;">
                        <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                    </a>
                </span>
                <span class="dialer-icons" style="margin:auto;">
                    <a href="" ng-click="incomingCallCtrl.receiveCall()" style="width:50px; height:50px; background-color:#4caf50;">
                        <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                    </a>
                </span>

            </div>
        </md-dialog-content>
    </md-dialog>
</script>
<!--end incoming call dialog-->

<!--start about dialog-->
<script type="text/ng-template" id="aboutDialog">
    <md-dialog flex="30" aria-label="About Mercury" ng-controller="AboutDialogController as aboutCtrl">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>About Mercury</h2>
            </div>
        </md-toolbar>
        <md-dialog-content flex="80" flex-offset="10" style="padding-top: 2%;">
            <p style="text-align: center;">Mercury orchestrates back-office systems and provides mobility and flexibility to today's business environment.</p>
            <h5 style="text-align: center;">v0.0.1</h5>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="aboutCtrl.closeAboutDialog()">
                Close
            </md-button>

        </md-dialog-actions>
    </md-dialog>
</script>
<!--end about dialog-->

<md-sidenav id="sidenav" style = "background:rgba(0,0,0,0.65);" ng-click="navCtrl.toggleLeftSidebar()" md-component-id="left" class="md-whiteframe-z2" >
    <md-list>

        <md-card ng-controller="ProfileEditorController as profileCtrl" style="z-index: 60; margin:0px; margin-bottom:4%; background-image:url(images/md-backround-profile.jpg);" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
          <div ng-click="profileCtrl.showProfileEditorDialog()">
            <md-card-title>
                <md-card-title-media flex="40">
                    <div class="md-media-sm card-media">
                      <md-icon class="avatar">
                        <img style="border-radius:50px; width: 100%; height: 100%" ng-src="{{profileCtrl.getProfilePicture()}}" fix-image-orientation="profileCtrl.getProfilePicture()">
                      </md-icon>
                    </div>
                </md-card-title-media>
                <md-card-title-text style="padding-top:5%; margin-top: 25%; margin-left: -35%" flex="80">
                    <span class="md-headline">{{profileCtrl.getFirstName() + ' ' + profileCtrl.getLastName()}}</span>
                    <span class="md-subhead">
                      <i style="color: green;" ng-if="profileCtrl.availability == 'Online' " class="fa fa-circle"></i>
                      <i style="color: yellow;" ng-if="profileCtrl.availability == 'Away' " class="fa fa-circle"></i>
                      <i style="color: red;" ng-if="profileCtrl.availability == 'Busy' " class="fa fa-circle"></i>
                      <i style="color: blue;" ng-if="profileCtrl.availability == 'onACall' " class="fa fa-circle"></i>
                      <i style="color: grey;" ng-if="profileCtrl.availability == 'Offline' " class="fa fa-circle"></i>
                      {{profileCtrl.getAvailability()}}</span>
                </md-card-title-text>
            </md-card-title>
            </div>
              <md-input-container style="margin-top: -2%" flex="80" flex-offset="5" class="md-icon-float md-block" >
              <h4 ng-if="!profileCtrl.canEdit" style="font-size: 15px; word-break: break-all">{{profileCtrl.getStatusMessage()}}</h4>
              <h4 style="font-size: 15px; word-break: break-all"><input ng-if="profileCtrl.canEdit" style="border-color: black;" ng-model="profileCtrl.newStatus" ng-value="profileCtrl.getStatusMessage()" type="text"></h4>
              </md-input-container>
              <md-icon ng-show="!profileCtrl.canEdit" ng-click="profileCtrl.editStatus()" style="color: black; font-size: 18px; position: absolute; margin-top: 59%; margin-left: 90%" class="fa fa-pencil-square-o"></md-icon>
              <md-icon ng-show="profileCtrl.canEdit && profileCtrl.newStatus != profileCtrl.getStatusMessage()" ng-click="profileCtrl.confirmStatusChange()" style="color: green; font-size: 18px; position: absolute; margin-top: 60%; margin-left: 92%" class="fa fa-check"></md-icon>
              <md-icon ng-show="profileCtrl.canEdit" ng-click="profileCtrl.cancelEdit()" ng-style="profileCtrl.newStatus != profileCtrl.getStatusMessage() ? {'margin-left': '85%'} : {'margin-left': '92%'}" style="color: red; font-size: 18px; position: absolute; margin-top: 60%;" class="fa fa-times"></md-icon>
          </md-card>

        <md-list-item layout="row">
            <md-button ng-click="navCtrl.homeLinkClicked()" layout="row">
                <p style = "color: white;font-size:20px;"flex="20"><md-button style="margin:0%;" class="md-icon-button fa fa-home"></md-button></p>
                <p style = "color: white;" flex="80">Home</p>
            </md-button>
        </md-list-item>

        <!--<md-list-item layout="row" ng-controller="ProfileEditorController as profileCtrl">-->
            <!--<md-button layout="row">-->
                <!--<p flex="20" ng-click="profileCtrl.showProfileEditorDialog()"><img style= "height: 20px;"ng-src="images/default_contact_avatar-white.png" alt=""></p>-->
                <!--<p style = "color: white;" flex="80" ng-click="profileCtrl.showProfileEditorDialog()">Profile</p>-->
            <!--</md-button>-->
        <!--</md-list-item>-->

        <md-list-item layout="row">
            <md-button ng-click="navCtrl.contactsLinkClicked()" layout="row">
                <p style = "color: white;font-size:20px;"flex="20"><md-button style="margin:0%;" class="md-icon-button fa fa-users"></md-button></p>
                <p style = "color: white;" flex="80">Contacts</p>
            </md-button>
        </md-list-item>

        <md-list-item style="margin-left:2.5%;" layout="row" ng-controller="ManageCRMController as crmCtrl">
            <md-button layout="row">
                <p flex="20"  ng-click="crmCtrl.showManageCRMDialog()"><img style="height: 25px;" ng-src="images/ic_crm_gray_24dp.png" alt=""></p>
                <p style = "color: white;" flex="80" ng-click="crmCtrl.showManageCRMDialog()">CRM Manager</p>
                <img style="height: 20px;" ng-show = "crmCtrl.crmManager.crmList[0].validated" ng-src="images/ic_check_green.png" alt=""></p>
                <img style="height: 20px;" ng-show = "!crmCtrl.crmManager.crmList[0].validated" ng-src="images/ic_exclamation_red.png" alt=""></p>

            </md-button>
        </md-list-item>

        <!-- <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target='#phone-settings-modal'><img ng-src="images/settings.png" alt=""></p>
                <p style = "color: white;" flex="80" data-toggle="modal" data-target='#phone-settings-modal'>Phone Settings</p>
            </md-button>
        </md-list-item> -->

        <!-- <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target=''><img ng-src="images/settings.png" alt=""></p>
                <p style = "color: white;" flex="80" data-toggle="modal" data-target=''>Account Settings</p>
            </md-button>
        </md-list-item> -->

        <md-list-item ng-controller="AboutDialogController as aboutCtrl" layout="row">
            <md-button ng-click="aboutCtrl.showAboutDialog()" layout="row">
                <p style = "color: white;font-size:20px;"flex="20"><md-button style="margin:0%;" class="md-icon-button fa fa-info"></md-button></p>
                <p style = "color: white;" flex="80">About</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row" ng-controller="AuthenticationController as authCtrl">
            <md-button ng-click="authCtrl.logoutButtonClicked()" layout="row">
                <p style = "color: white;font-size:20px;"flex="20"><md-button style="margin:0%;" class="md-icon-button fa fa-power-off"></md-button></p>
                <p style = "color: white;" flex="80">Log Out</p>
            </md-button>
        </md-list-item>
        <!--<md-list-item layout ="row" style="background-image:url(images/background.jpg)"-->
        <!--ng-repeat="it in ul.users">-->
        <!--<md-button flex="25" ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">-->
        <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
        <!--</md-button>-->
        <!--<p flex="75">Paco Figueroa</p>-->
        <!--</md-list-item>-->
    </md-list>
</md-sidenav>
