<!--start profile editor form dialog-->
<script type="text/ng-template" id="profileEditorForm">
    <md-dialog flex="40" aria-label="Profile Editor Form" ng-controller="ProfileEditorController as profileCtrl">
        <form ng-cloak>
            <md-toolbar class="mercurioBlueBackground">
                <div class="md-toolbar-tools">
                    <h2>Profile Editor</h2>
                    <span flex></span>
                    <md-button ng-disabled = "profileCtrl.accountService.uploadingImage" class="md-icon-button" ng-click="profileCtrl.closeProfileEditorDialog()">
                        &times;
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>

                <div layout="row" class="flex-80 flex-offset-10" style="margin-top:3%">
                    <md-input-container class="md-icon-float md-block">
                        <label>Status Message</label>
                        <md-icon class="fa fa-comment-o"></md-icon>
                        <input id="statusMessage" type="text" ng-model="profileCtrl.statusMessage" placeholder="{{profileCtrl.getStatusMessage()}}">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Availability</label>
                        <md-icon class="fa fa-circle-o"></md-icon>
                        <md-select style="min-width: 100px;" id="availability" ng-model="profileCtrl.newAvailability">
                            <md-option ng-selected="{{profileCtrl.availability === 'Online' ? 'true' : 'false' }}" value="0">Online</md-option>
                            <md-option ng-selected="{{profileCtrl.availability === 'Away' ? 'true' : 'false' }}" value="1">Away</md-option>
                            <md-option ng-selected="{{profileCtrl.availability === 'Busy' ? 'true' : 'false' }}" value="2">Busy</md-option>
                            <md-option ng-selected="{{profileCtrl.availability === 'onACall' ? 'true' : 'false' }}" value="3">On a call</md-option>
                            <md-option ng-selected="{{profileCtrl.availability === 'Offline' ? 'true' : 'false'}}" value="4">Offline</md-option>


                        </md-select>
                    <!--<input id="availablity" type="text" ng-model="profileCtrl.availability" placeholder="{{profileCtrl.getAvailability()}}">-->
                    </md-input-container>
                </div>

                <div layout="row" class="flex-80 flex-offset-10">
                    <md-input-container class=" md-icon-float md-block">
                        <label>First Name</label>
                        <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                        <input id="firstName" type="text" ng-model="profileCtrl.firstName" placeholder="{{profileCtrl.getFirstName()}}">
                    </md-input-container>
                    <md-input-container class=" md-icon-float md-block">
                        <label>Last Name</label>
                        <md-icon style="left:7%;" class="fa fa-user"></md-icon>
                        <input id="lastName" type="text" ng-model="profileCtrl.lastName" placeholder="{{profileCtrl.getLastName()}}">
                    </md-input-container>

                </div>

                <div layout="row" class="flex-80 flex-offset-10">
                    <md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon class="fa fa-envelope"></md-icon>
                        <input id="email" type="text" ng-model="profileCtrl.email" placeholder="{{profileCtrl.getEmail()}}">
                    </md-input-container>
                    <md-content style= "background-color: white; margin-left: 5%;" class="md-icon-float">
                        <label >Phone</label>
                        <i style = "position: fixed; margin-top: 1%;" class="fa fa-phone"> {{profileCtrl.getPhone()}}</i>
                    </md-content>
                    <md-content style= "background-color: white; margin-left: 15%;"class="md-icon-float">
                        <label>Ext.</label>
                        <i style = "position: fixed; margin-top: 1%;" class="fa fa-hashtag">{{profileCtrl.getExtension()}} </i>
                    </md-content>
                </div>

                <md-card>

                    <img id="profilePicturePreview" class="md-card-image" alt="Washed Out" style="opacity:{{profileCtrl.accountService.opacity}}; height:300px; position:relative;" ng-src="{{profileCtrl.getProfilePicture()}}"/>
                    <div ng-if="profileCtrl.accountService.uploadingImage" style="left: 0; position:absolute; text-align:center; margin-top: -250px; width: 100%" layout="row" layout-sm="column" layout-align="space-around">
                      <md-progress-circular md-mode="determinate" value="{{profileCtrl.accountService.progress}}" md-diameter="200"></md-progress-circular>
                    </div>
                    <md-button class="md-fab md-warn" style="position:absolute;top:80%;left:80%;">
                        <md-icon style="font-size:22px;" class="fa fa-camera">
                            <!--<input ng-model="chatCtrl.multimedia" ng-change="chatCtrl.showImagePreview()" class="fa fa-paperclip" style="opacity:0;" type="file" accept="image/*"/>-->
                            <!--<input style="opacity:0;" onchange="angular.element(this).scope().multimediaSelected(this)" type="file" ng-model="multimedia" name="multimedia" id="multimedia" accept="image/*"/>-->
                            <input style="opacity:0;" onchange="angular.element(this).scope().profilePictureSelected(this)" type="file" ng-model="profileCtrl.picture" name="profileImage" id="profileImage" accept="image/*"/>
                        </md-icon>
                    </md-button>

                    <!--<md-card-actions layout="row" layout-align="end end">-->

                        <!--<input style="visibility:hidden;" onchange="angular.element(this).scope().profilePictureSelected(this)" type="file" ng-model="profileCtrl.picture" name="profileImage" id="profileImage" accept="image/*"/>-->
                        <!--<label style="margin-top: -1%;" class="btn btn-info" for="profileImage">Choose an Image</label>-->

                    <!--</md-card-actions>-->
                </md-card>
            </md-dialog-content>

            <md-dialog-actions layout="row">

                <span flex></span>
                <md-button ng-disabled = "profileCtrl.accountService.uploadingImage" ng-click="profileCtrl.closeProfileEditorDialog()">
                    Close
                </md-button>
                <md-button ng-click="profileCtrl.saveProfileInfo();">
                    Save
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<!--end profile editor form-->

<!--start crm manager form dialog-->
<script type="text/ng-template" id="manageCRMForm">
    <md-dialog flex="40" aria-label="Manage CRM Form" ng-controller="ManageCRMController as crmCtrl">
        <form ng-cloak>
            <md-toolbar class="mercurioBlueBackground">
                <div class="md-toolbar-tools">
                    <h2>CRM Manager</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="crmCtrl.closeManageCRMDialog()">
                        &times;
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content class="flex-80 flex-offset-10" style="margin-top:3%;">

                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex="100">
                        <label>CRM Name</label>
                        <md-icon class="fa fa-comment-o"></md-icon>
                        <input required md-no-asterisk type="text" ng-model="crmCtrl.name" placeholder="{{crmCtrl.getCRMName()}}"
                               ng-change="crmCtrl.crmNameChanged()" required>

                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container class="md-icon-float md-block" flex="100">
                        <label>2-Factor Authentication Token</label>
                        <md-icon class="fa fa-circle-o"></md-icon>
                        <input required md-no-asterisk type="text" ng-model="crmCtrl.token" placeholder="{{crmCtrl.getCRMToken()}}"
                               ng-change="crmCtrl.crmTokenChanged()" required>
                    </md-input-container>
                    <img style="margin-top: 4%; height: 20px;" ng-show = "showCheckmark && !savingCRMInfo" ng-src="images/ic_check_green.png" alt=""></p>
                    <img style="margin-top: 4%; height: 20px;" ng-show = "showExclamationPoint && !savingCRMInfo" ng-src="images/ic_exclamation_red.png" alt=""></p>
                </div>

                <div layout="row">
                    <md-input-container class=" md-icon-float md-block">
                        <md-checkbox md-no-ink ng-model="crmCtrl.newInsertCallsAutomaticallySetting" ng-value="crmCtrl.crmManager.crmList[0].insertCallsAutomatically"
                                     aria-label="Insert Calls" ng-change="crmCtrl.insertCallsCheckboxChanged()">
                            Insert all calls into CRM database automatically
                        </md-checkbox>
                        <label></label>
                    </md-input-container>
                  </div>
              <div layout="row">
                <a href="https://accounts.zoho.com/apiauthtoken/create?SCOPE=ZohoCRM/crmapi">Find your 2-Factor Authentication Token </a>
              </div>


            </md-dialog-content>

            <md-dialog-actions layout="row">

                <span flex></span>
                <md-button ng-click="crmCtrl.closeManageCRMDialog()">
                    Close
                </md-button>
                <md-button ng-if="crmCtrl.saveCRMDetailsButtonIsAvailable" ng-click="crmCtrl.addCRM()">
                    Save
                </md-button>

            </md-dialog-actions>

        </form>
    </md-dialog>
</script>
<!--end crm manager dialog-->

<!--start incoming call dialog-->
<script type="text/ng-template" id="incomingCallDialog">
    <md-dialog aria-label="Incoming Call Dialog" ng-controller="IncomingCallDialogController as incomingCallCtrl">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Incoming Call</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="md-dialog-content" layout="row">
                <p class="center" ng-controller="ContactListController as contactListCtrl">{{incomingCallCtrl.phoneService.phone.callerId | incomingCallNameFilter : contactListCtrl.contactList}}</p>
            </div>
            <div class="md-dialog-content" layout="row">
                <p class="center" >{{incomingCallCtrl.phoneService.phone.callerId}}</p>
            </div>
            <div class="md-dialog-content" layout="row">
                <span class="dialer-icons" style="margin:auto;">
                    <a href="" ng-click="incomingCallCtrl.ignoreCall()" style="width:50px; height:50px; background-color:red;">
                        <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                    </a>
                </span>
                <span class="dialer-icons" style="margin:auto;">
                    <a href="" ng-click="incomingCallCtrl.receiveCall()" style="width:50px; height:50px; background-color:#4caf50;">
                        <i style="font-size:25px; line-height:50px; color:#ffffff" class="fa fa-phone fa-lg"></i>
                    </a>
                </span>

            </div>
        </md-dialog-content>
    </md-dialog>
</script>
<!--end incoming call dialog-->

<md-sidenav id="sidenav" style = "background:rgba(0,0,0,0.65);" ng-click="navCtrl.toggleLeftSidebar()" md-component-id="left" class="md-whiteframe-z2" >
    <md-list>

        <md-card ng-click="profileCtrl.showProfileEditorDialog()" ng-controller="ProfileEditorController as profileCtrl" style="margin:0px; margin-bottom:4%; background-image:url(images/background.jpg);" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-media flex="40">
                    <div class="md-media-sm card-media"><md-icon class="avatar"><img style="border-radius:70px;" ng-src="{{profileCtrl.getProfilePicture()}}"></md-icon></div>
                </md-card-title-media>
                <md-card-title-text style="padding-top:5%" flex="60">
                    <span class="md-headline">{{profileCtrl.getFirstName() + ' ' + profileCtrl.getLastName()}}</span>
                    <span class="md-subhead">{{profileCtrl.getAvailability()}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions style="padding-left:4%;" layout="row">
                <p style="font-size: 15px; word-break: break-all" flex="65">{{profileCtrl.getStatusMessage()}}</p>
            </md-card-actions>
        </md-card>

        <md-list-item layout="row" ng-controller="ProfileEditorController as profileCtrl">
            <md-button layout="row">
                <p flex="20" ng-click="profileCtrl.showProfileEditorDialog()"><img ng-src="images/contacts.png" alt=""></p>
                <p style = "color: white;" flex="80" ng-click="profileCtrl.showProfileEditorDialog()">Profile</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row">
            <md-button ng-click="navCtrl.contactsLinkClicked()" layout="row">
                <p flex="20"><img ng-src="images/contacts.png" alt=""></p>
                <p style = "color: white;" flex="80">Contacts</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row" ng-controller="ManageCRMController as crmCtrl">
            <md-button layout="row">
                <p flex="20" ng-click="crmCtrl.showManageCRMDialog()"><img ng-src="images/contacts.png" alt=""></p>
                <p style = "color: white;" flex="80" ng-click="crmCtrl.showManageCRMDialog()">CRM Manager</p>
                <img style="height: 20px;" ng-show = "crmCtrl.crmManager.crmList[0].validated" ng-src="images/ic_check_green.png" alt=""></p>
                <img style="height: 20px;" ng-show = "!crmCtrl.crmManager.crmList[0].validated" ng-src="images/ic_exclamation_red.png" alt=""></p>

            </md-button>
        </md-list-item>

        <!-- <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target='#phone-settings-modal'><img ng-src="images/settings.png" alt=""></p>
                <p style = "color: white;" flex="80" data-toggle="modal" data-target='#phone-settings-modal'>Phone Settings</p>
            </md-button>
        </md-list-item> -->

        <!-- <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target=''><img ng-src="images/settings.png" alt=""></p>
                <p style = "color: white;" flex="80" data-toggle="modal" data-target=''>Account Settings</p>
            </md-button>
        </md-list-item> -->

        <!--<md-list-item layout="row">-->
            <!--<md-button layout="row">-->
                <!--<p flex="20"><img ng-src="images/info.png" alt=""></p>-->
                <!--<p style = "color: white;" flex="80">About Mercurio</p>-->
            <!--</md-button>-->
        <!--</md-list-item>-->

        <md-list-item layout="row" ng-controller="AuthenticationController as authCtrl">
            <md-button ng-click="authCtrl.logoutButtonClicked()" layout="row">
                <p flex="20"><img ng-src="images/signout.png" alt=""></p>
                <p style = "color: white;" flex="80">Sign Out</p>
            </md-button>
        </md-list-item>
        <!--<md-list-item layout ="row" style="background-image:url(images/background.jpg)"-->
        <!--ng-repeat="it in ul.users">-->
        <!--<md-button flex="25" ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">-->
        <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
        <!--</md-button>-->
        <!--<p flex="75">Paco Figueroa</p>-->
        <!--</md-list-item>-->
    </md-list>
</md-sidenav>
