<md-toolbar class="mercurioBlueBackground" layout="row">
    <md-button flex="5" class="menu" ng-click="navCtrl.toggleLeftSidebar()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1 flex="15">Mercury</h1>
    <md-container flex-offset="55" flex="10">
        <div ng-click='navCtrl.viewRecentCallsButtonClicked()' ng-class="{rightSidebarSelection:navCtrl.viewingRecentCalls, rightSidebarRejection:navCtrl.viewingRecentChats}"  style="font-size:36px; line-height:55px;" class="fa fa-clock-o"></div>
        <p ng-click='navCtrl.viewRecentCallsButtonClicked()' ng-class="{rightSidebarSelection:navCtrl.viewingRecentCalls, rightSidebarRejection:navCtrl.viewingRecentChats}" style="padding-left: 2%; font-size: 12px;">Calls</p>
    </md-container>
    <md-container flex="10">
        <span ng-show="(chatListCtrl.chatClient |countUnreadMessageFilter) !=0 " style="background-color: red; position: absolute; margin-left: 1.5%; margin-top: 1%; z-index: 20" ng-controller="ChatListController as chatListCtrl" class="badge">{{chatListCtrl.chatClient |countUnreadMessageFilter}} </span>
        <div ng-click='navCtrl.viewRecentChatsButtonClicked()' ng-class="{rightSidebarSelection:navCtrl.viewingRecentChats, rightSidebarRejection:navCtrl.viewingRecentCalls}" style="font-size:36px; line-height:55px;" class="fa fa-comments"></div>
        <p ng-click='navCtrl.viewRecentChatsButtonClicked()' ng-class="{rightSidebarSelection:navCtrl.viewingRecentChats, rightSidebarRejection:navCtrl.viewingRecentCalls}" style="padding-left: 2%; font-size: 12px;">Chats</p>
    </md-container>
</md-toolbar>
