<md-content style="padding-left:5px; padding-right:5px; border:1px solid #eee;" id="content">
    <div class="scrollable" ng-if="navCtrl.viewingRecentCalls"><md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <a flex="33" ><md-nav-item md-nav-click="goto('page1')" name="/edit">Edit</md-nav-item></a>
        <a flex="33" ><md-nav-item md-nav-click="goto('page2')" name="/all">All</md-nav-item></a>
        <a flex="33" ><md-nav-item md-nav-click="goto('page3')" name="/missed">Missed</md-nav-item></a>
        <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
        <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
        <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
        -->
    </md-nav-bar>

        <md-autocomplete style="margin-top:2%;" flex
                         md-input-name="autocompleteField"
                         md-input-minlength="2"
                         md-input-maxlength="18"
                         md-no-cache="ctrl.noCache"
                         md-selected-item="ctrl.selectedItem"
                         md-search-text="ctrl.searchText"
                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                         md-item-text="item.display"
                         md-floating-label="Search">
        </md-autocomplete>

        <!--<div style="width:100%" ng-view> </div>-->
    </div>
    <chat-list ng-controller="ChatListController as chatListCtrl" ng-if="navCtrl.viewingRecentChats"></chat-list>
    <!--<recents></recents>-->
</md-content>