
<md-sidenav id="sidenav" ng-click="user.toggleList()" md-component-id="left" class="md-whiteframe-z2" >
    <md-list>

        <md-card style="margin:0px; margin-bottom:4%; background-image:url({{user.background}});" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-media flex="40">
                    <div class="md-media-sm card-media"><md-icon class="avatar"><img style="border-radius:70px;" src="{{user.profileImage}}"></md-icon></div>
                </md-card-title-media>
                <md-card-title-text style="padding-top:5%" flex="60">
                    <span class="md-headline">{{user.displayName}}</span>
                    <span class="md-subhead">Available</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions style="padding-left:4%;" layout="row">
                <p style="word-break: break-all" flex="65">{{user.statusMessage}}</p>
            </md-card-actions>
        </md-card>

        <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target='#customizeModal'><img ng-src="images/contacts.png" alt=""></p>
                <p flex="80" data-toggle="modal" data-target='#customizeModal'>Profile</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row">
            <md-button ng-click="displayContacts()" layout="row">
                <p flex="20" data-toggle="modal"><img ng-src="images/contacts.png" alt=""></p>
                <p flex="80" data-toggle="modal">Contacts</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target='#phone-settings-modal'><img ng-src="images/settings.png" alt=""></p>
                <p flex="80" data-toggle="modal" data-target='#phone-settings-modal'>Phone Settings</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20" data-toggle="modal" data-target=''><img ng-src="images/settings.png" alt=""></p>
                <p flex="80" data-toggle="modal" data-target=''>Account Settings</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row">
            <md-button layout="row">
                <p flex="20"><img ng-src="images/info.png" alt=""></p>
                <p flex="80">About Mercurio</p>
            </md-button>
        </md-list-item>

        <md-list-item layout="row" ng-controller="AuthenticationController">
            <md-button ng-click="signOut()" layout="row">
                <p flex="20"><img ng-src="images/signout.png" alt=""></p>
                <p flex="80">Sign Out</p>
            </md-button>
        </md-list-item>
        <!--<md-list-item layout ="row" style="background-image:url(images/background.jpg)"-->
        <!--ng-repeat="it in ul.users">-->
        <!--<md-button flex="25" ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">-->
        <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
        <!--</md-button>-->
        <!--<p flex="75">Paco Figueroa</p>-->
        <!--</md-list-item>-->
    </md-list>
</md-sidenav>