<md-toolbar style="background-color:#1565c0" layout="row">
    <md-button flex="5" class="menu" ng-click="user.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1 flex="15">Mercurio</h1>
    <md-container flex-offset="60" flex="10">
        <md-icon ng-click='showView("true")' id="recent-calls" style="font-size:36px; line-height:55px;" class="fa fa-clock-o"></md-icon>
        <p ng-click='showView("true")' id="recent-calls" style="padding-top:2px; padding-left: 2%; font-size: 12px; margin: 0%; margin-top: 15%;">Calls</p>
    </md-container>
    <md-container flex="10">
        <md-icon ng-click='showView("false")' id="recent-chats" style="font-size:36px; line-height:55px;" class="fa fa-comments"></md-icon>
        <p ng-click='showView("false")' id="recent-chats" style="padding-top:2px; padding-left: 3%; font-size: 12px; margin: 0%; margin-top: 15%;">Chats</p>
    </md-container>
</md-toolbar>